@charset "utf-8";

/*-- [tag:PRJ-20220901] --*/
/*-- [i][beast project를 위해 다른 project에서 추가한 내용 --*/

/* override { */
.btn {min-width:120px;}
#content {padding-top:0;}
.date_setting{margin-top:10px; margin-bottom:10px;}
/* override } */

/*-- add { --*/
.dp_none {display: none;}
.cur_pointer {cursor: pointer;}
.txt_elps {display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/* add } */

/*-- [for excelExport_inc.jsp] { --*/
  /* override { */
  #id_popup_export_item .pkg_board .table-list2 tbody td{height:38px;padding:0 5px;}
  #id_popup_export_item .searching_wrap { margin-top:0; }
  /* override } */
  #id_popup_export_item .scroll_box {height: 451px; overflow-y: scroll;}

  #id_popup_export_item .ta_r {text-align: right; height: 40px;}

  #id_popup_export_item .all_cont_wrap {overflow: hidden; }
  #id_popup_export_item .all_cont_wrap > div {float: left;}

  #id_popup_export_item .left_cont {width: 47%;/* background-color: red;*/}
  #id_popup_export_item .btn_cont {width: 6%; /*height: 730px*/; padding-top: 180px; /* background-color: blue;*/}
  #id_popup_export_item .right_cont {width: 47%; /*background-color: gray;*/}

  #id_popup_export_item .btn_move {min-width:auto; width:40px; height:36px; line-height:26px; padding:0 5px; margin:12px 0 0 12px;}

  #id_popup_export_item .top_txt {font-size: 16px; color:#333; font-weight: 700; float:left; height: 40px}
  #id_popup_export_item .bd_box {border: 1px solid #ccc; margin-top: 12px;}

  #id_popup_export_item .export_item_tr {cursor: pointer;}
  #id_popup_export_item .btn_updn {cursor: pointer; padding: 2px 5px 4px 5px; border:1px solid black;}
/*-- [for excelExport_inc.jsp] } --*/

/*-- [i][from openapi-dev-onm administrator.css --*/
/* board_list2 */
.pkg_board .table-list2 {width:100%;border-top:2px solid #333;table-layout:fixed;}
.pkg_board .table-list2 thead th{height:58px;color:#454545;border-left:1px solid #e5e5e5;border-bottom:1px solid #333;background:#f6f6f6;font-size:15px;font-weight:700;}
.pkg_board .table-list2 thead th:first-child{border-left:0;}
.pkg_board .table-list2 tbody td{height:38px;padding:10px 5px;font-size:13px;color:#757575;position:relative;text-align:center;border-left:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.pkg_board .table-list2 tbody td > select {width: 100%;}
.pkg_board .table-list2 tbody td.left{text-align:left;padding-left:8px;}
.pkg_board .table-list2 tbody td:first-child{border-left:0;}
.pkg_board .table-list2 tbody td a{color:#757575;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.pkg_board .table-list2 tbody td a.alink{text-decoration:underline;color:#333;}
.pkg_board .table-list2 tbody td a:hover{text-decoration:underline;}
.pkg_board .table-list2 tbody td.tdTitle{text-align:left;padding-left:20px;}
.pkg_board .table-list2 .chk_agree.checkonly{text-indent:-9999px;}
.pkg_board .table-list2 tbody td.listTitle{text-align:left; padding-left:30px;}
.pkg_board .table-list2 tbody td div.listTitle{text-align:left; padding-left:30px;}

/*-- [i][from openapi-dev-onm administrator.css --*/
.btn_sml2.btn{min-width:80px;height:40px;line-height:40px;font-size:13px;color:#333;}
.btn_gray2{padding:0 15px;font-size:12px;font-weight:bold;min-width:auto;height:26px;line-height:26px;color:#fff !important;background:#757575;border:0;}

/*-- [i][from openapi-dev-onm administrator.css --*/
.pkg_board .table-vw2 {width:100%;border-top:2px solid #333 !important;}
.pkg_board .table-vw2 ~ .table-vw2 {margin-top:20px;}
.pkg_board .table-vw2 tbody tr{border-bottom:1px solid #ccc;}
.pkg_board .table-vw2 tbody th{height:59px;font-size:15px;color:#333;background:#f7f7f7;font-weight:700}
.pkg_board .table-vw2 tbody td{padding:5px 10px;font-size:13px;color:#757575;position:relative;}
.pkg_board .table-vw2 tbody td .txtarea_wrap{min-height:200px;line-height:20px;white-space:pre-line;}
.pkg_board .table-vw2 tbody td .txtarea_wrap textarea{min-height:320px;resize:vertical;}
.pkg_board .table-vw2 tbody td .txtarea_wrap.txtarea-view{min-height:auto;padding:30px 10px;}
.popup_content .pkg_board .table-vw2 {min-width:430px;}

.popup_content .pkg_board table { border-collapse: collapse; }
.popup_content .pkg_board input.cid_input[readonly] { background-color: #f6f6f6; }
.popup_content .pkg_board select.cid_input { width:100%; } 
.popup_content .pkg_board textarea.cid_input[readonly] { background-color: #f6f6f6; }

#id_popup_itemview .pkg_board.scroll_box {height: 451px; overflow-y: scroll;}
