<!DOCTYPE html>
<!--/* guide/shubList.jsp -> Thymeleaf 변환 */-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default(layoutType='default', bodyClass=null)}">
<head>
    <title>KT Open API - SHUB 가이드</title>
</head>
<body>
<div layout:fragment="content">
<script type="text/javascript" th:inline="javascript">

	// api 규격서 페이지로 이동
	function mvApiInfo(apiNo, apiSpcNo){
		$("#pApiNo").val(apiNo);
		$("#pApiSpcNo").val(apiSpcNo);
		$("#apiInfoForm").attr("action", /*[[@{/api/info/mvInfoView.do}]]*/ '/api/info/mvInfoView.do');
		$("#apiInfoForm").submit();
	}
</script>
<form method="POST" action="" id="apiInfoForm">
	<input type="hidden" name="apiNo"    id="pApiNo"   />
	<input type="hidden" name="apiSpcNo" id="pApiSpcNo"/>
</form>
<div id="container">
	<div class="sVisual sv_guide">
		<div>
			<h2>SHUB 가이드</h2>
			<p>SHUB는 KT 고객정보를 기반으로 다양한 OPEN API를 제공합니다.</p>
		</div>
	</div>
	<div class="contents search_only">
		<div class="conBox">
			<div class="pg_location"><a>Go home</a> <span>></span> 이용 가이드</div>

			<div id="content">
                   <!-- guide_wrap -->
                   <div class="useguide_wrap">
                       <!-- guide_wrap -->
                       <div class="guide_wrap">
                           <div class="useGuide_content">
                               <section>
                                  <h5>SHUB 소개</h5>
                                  <div>
                                      <p><img th:src="@{/resources/images/guideimg/useguide0301.png}" alt="별도 첨부"></p>
                                      <div class="hideText">
                                           <dl>
                                               <dt>구축배경</dt>
                                               <dd>KT SHUB는 KT 고객정보를 통합 Profile 기반으로 통합하여 구축하고, 다양한 유무선 Enabler에서 제공하는 기능을 KT CP/SP 및 3rd Party에게 단일화된 형태의 API로 제공하여 N 스크린형 서비스를  포함한 다수의  신규서비스를 쉽고 빠르게 개발 할 수 있도록 구축되었습니다. </dd>
                                           </dl>
                                           <dl>
                                               <dt>통합고객 프로파일</dt>
                                               <dd>통합고객정보의 구조는 한 명의 고객이 하나의 Olleh ID와 다수의 오픈 Email ID를 보유할 수 있으며 통합된 고객 Profile 정보를 통해 단일화된 고객정보를 관리할 수 있는 구조로 구축되었습니다.</dd>
                                           </dl>
                                           <dl>
                                               <dt>SHUB 시스템 </dt>
                                               <dd>。KT SHUB는 KT에서 제공하는 다양한 서비스를 CP/SP 및 3rd Party에게 단일화된 형태의 API로 제공하며, 서비스의 요청을 받아 처리한 후 응답 결과를 전송합니다.
                                               。서비스 요청 Interface는 서비스 연동망의 종류에 따라 
                                               KT 외부망과 내부망으로 구분되어 있습니다</dd>
                                           </dl>
                                           <dl>
                                               <dt>API  프로토콜 </dt>
                                               <dd>。KT SHUB는 서비스SOAP Protocol을 사용하며, º WSDL을 제공하여 프로그램 개발에 편의성을 제공합니다.
                                               。Open API연동은 HTTP를 사용하여 정보를 전송/수신하며 일부 고객정보를 전송하는 API는 HTTPS(SSL)을 사용하여야 합니다.
                                               。서비스에 대한 인증을 위한 WS-Security Username Token 1.0 규격을 사용합니다</dd>
                                           </dl>
                                       </div>
                                  </div>
                               </section>

                               <section>
                                  <h5>Solution기능</h5>
                                  <div>
                                      <p><img th:src="@{/resources/images/guideimg/useguide0302.png}" alt="별도 첨부"></p>
                                      <div class="hideText">
                                           <p>kt Open API 플랫폼은 SHUB(API G/W), 개발자 포탈, Log Infra(API ANALYTICS) 로 구성</p>
                                           <p>SHUB이용 서비스 - 올레닷컴, APP, 서비스 [개발자] [운영자]</p>
                                           
                                           <div>Access Layer - kt Open API 플랫폼</div>
                                           <dl>
                                               <dt>SHUB (API GN)</dt>
                                               <dd>API 보안, 인증, 트래픽 톰제 메시지 변환,  AM 배포, Caching 등의 기능 제공
                                                   <dl>
                                                       <dt>보안 (Security)</dt>
                                                       <dd>서비스 인증, 개인정보 유출 방지, 취약점 및 외부  위협 방어</dd>
                                                   </dl>
                                                   <dl>
                                                       <dt>인증 (Authentication)</dt>
                                                       <dd>사용자 인증, API 키 관리, API 정책/배포 관리</dd>
                                                   </dl> 
                                                   <dl>
                                                       <dt>통제 (Control)</dt>
                                                       <dd>트래픽 제한 트래픽 통제 병목제어, 캐싱, 전문 변환</dd>
                                                   </dl>  
                                               </dd>
                                           </dl>
                                           <dl>
                                               <dt>개발자 포탈</dt>
                                               <dd>개발자 관리, 개발자 지원, 인증키 관리, Docs Manager 제공, API Console 등의  기능 제공
                                                   <dl>
                                                       <dt>개발자 관리</dt>
                                                       <dd>개발자계정관리, 서비스별 인증키 관리, 개발프로세스 관리</dd>
                                                   </dl>
                                                   <dl>
                                                       <dt>개발자 지원</dt>
                                                       <dd>API 온라인 문서, 샘플코드, API Console 제공, 교육, 포럼 제공</dd>
                                                   </dl> 
                                                   <dl>
                                                       <dt>서비스 관리</dt>
                                                       <dd>서비스 등록/헌활 관리, 서비스별API 사용 관리</dd>
                                                   </dl>  
                                               </dd>
                                           </dl>
                                           <dl>
                                               <dt>Log Infra</dt>
                                               <dd>API 로그 디버깅/분석 (Request, Response 분석), 사용량 Reporting 등의 기능 제공
                                                   <dl>
                                                       <dt>통계</dt>
                                                       <dd>실시간 사용량 통계기간별 통제 데이터 필터링, 다양한 챠트 제공</dd>
                                                   </dl>
                                                   <dl>
                                                       <dt>분석</dt>
                                                       <dd>API 로그, 분석 및 디버깅(API Request/Response 문석)</dd>
                                                   </dl> 
                                                   <dl>
                                                       <dt>Reporting</dt>
                                                       <dd>기간별 서비스 대상 API 사용 현황 Report 제공 (Custom Reporting)</dd>
                                                   </dl> 
                                               </dd>
                                           </dl>

                                           <div>Enabler</div>
                                           <dl>
                                               <dt>통합고객 프로파일</dt>
                                               <dd>과금</dd>
                                               <dd>결제</dd>
                                               <dd>CAPRI</dd>
                                               <dd>올레맵</dd>
                                               <dd>MMSC</dd>
                                               <dd>LBS</dd>
                                           </dl>
                                       </div>
                                  </div>
                               </section>
                           </div>

                       </div>
                       <!-- // guide_wrap -->


                   </div>
                   <!-- // guide_wrap -->
               </div>
		</div>
	</div>
</div>
</div>
</body>
</html>
