<!--/* excelExport_inc.jsp -> Thymeleaf 프래그먼트 변환. */-->
<div xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="excelExport_inc">
<!-- excelExport_inc.jsp { -->
<style>
  /*-- local style @beast.css --*/
</style>
<script th:src="@{/resources/js/common/excellentexport.3.4.3.min.js}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    xlsexp_fn_init_handler();
    xlsexp_fn_init_dialog();
    xlsexp_fn_init_page();
  });
  // pjs 수정 (2025. 05. 28)
  var g_a_item_key = [];
  var g_export_options = {};
  function xlsexp_fn_init_handler() {
	    $('#id_chk_export_item_unsel_all').on('click', function(e) {
	      $('#id_popup_export_item .cid_export_item_unsel').find('.cid_chk_export_item').prop('checked', $(this).prop('checked'));
	    });
	    $('#id_chk_export_item_sel_all').on('click', function(e) {
	      $('#id_popup_export_item .cid_export_item_sel').find('.cid_chk_export_item').prop('checked', $(this).prop('checked'));
	    });
	    $('#id_popup_export_item').on('dblclick', '.cid_export_item_tr', function(e) {
	      var jq_tr = $(this);
	      var jq_dialog = $('#id_popup_export_item');
	      var jq_tbody_self = jq_tr.closest('tbody');
	      var jq_tbody = ((jq_tbody_self.hasClass('cid_tbody_export_item_unsel') == true) ? jq_dialog.find('.cid_tbody_export_item_sel') :  jq_dialog.find('.cid_tbody_export_item_unsel'));
	      var jq_sel_item = jq_tbody.find('.cid_chk_export_item:checked').eq(0);
	      if (jq_sel_item.length == 0) {
	        jq_tbody.append(jq_tr.detach());
	      }
	      else {
	        jq_sel_item.closest('tr').before(jq_tr.detach());
	      }
	      jq_dialog.find('.cid_chk_export_item').prop('checked', false);
	      jq_tr.find('.cid_chk_export_item').prop('checked', true);
	    });
	  }

  function xlsexp_fn_init_dialog() {
    $('#id_popup_export_item').dialog({
      autoOpen: false, width: 1080, modal: true,
    });

    $('#id_popup_export_item').find('.btn.btn_cancel').click(function(p_evt) {
      p_evt.preventDefault();
      $('#id_popup_export_item').dialog('close');
    });
  }
  function xlsexp_fn_init_page() {
    //-- load export item
    var item_list = $fn_localStorage.get(g_data['expItemKey']);
    g_a_item_key = ((item_list.length > 0) ? item_list.split(',') : []);

  }

  function gfn_ExcelExport(p_excel_cfg) {
    var o_cfg = (p_excel_cfg||{});
    o_cfg['filename'] = (o_cfg['filename']||'export');
    o_cfg['format'] = (o_cfg['format']||'xlsx');
    o_cfg['sheet_name'] = (o_cfg['sheet_name']||'Sheet1');
    o_cfg['sheet_data'] = (o_cfg['sheet_data']||[]);

    var jq_a = $('<a>');
    var xls_options = {
      anchor: jq_a[0],              //-- String/Element
      filename: o_cfg['filename'],  //-- String
      format: o_cfg['format']       //-- 'xlsx'/'xls'/'csv'
    };
    var xls_sheets = [
      {
        name: o_cfg['sheet_name'],  //-- Sheet name
        from: {
          array: o_cfg['sheet_data'],
        }
      }
    ]
    var wbOut = ExcellentExport.convert(xls_options, xls_sheets);
    jq_a[0].click();
  }
</script>

<script type="text/javascript">
	function xlsexp_fn_is_prepared() {
	  var is_prepared = true;
	  is_prepared &= $has_val(g_data, 'expItemKey');
	  is_prepared &= ('object' == typeof(g_a_item_key));
	  is_prepared &= ('object' == typeof(g_a_def_item_key));
	  is_prepared &= ('object' == typeof(g_o_exp_item_data));
	  return is_prepared;
	}

	//-- export item 관련 처리
	  function xlsexp_fn_export_item(p_cmd) {
	    var jq_dialog = $('#id_popup_export_item');
	    if (('up' == p_cmd) || ('dn' == p_cmd)) {
	      var jq_tbody = jq_dialog.find('.cid_tbody_export_item_sel');
	      var jq_sel_list = jq_tbody.find('.cid_chk_export_item');
	      var jq_sel_item = jq_tbody.find('.cid_chk_export_item:checked').eq(0);
	      var idx = jq_sel_list.index(jq_sel_item);
	      if (idx == -1) { return; }
	      var tar_idx = (('up' == p_cmd) ? (idx - 1) : (idx + 1));
	      if (tar_idx >= 0) {
	        var jq_tr_tar = jq_tbody.find('tr').eq(tar_idx);
	        if (jq_tr_tar.length == 1) {
	          var jq_tr = jq_sel_item.closest('tr');
	          (('up' == p_cmd) ? jq_tr_tar.before(jq_tr.detach()) : jq_tr_tar.after(jq_tr.detach()));
	        }
	      }
	      return;
	    }
	    if ('popup' == p_cmd) { //-- 항목설정 popup
	      if (false == xlsexp_fn_is_prepared()) {
	        alert('export 설정정보가 없습니다.');
	        return;
	      }
	      ui_popup_set_title('id_popup_export_item', '엑셀저장항목 설정');
	      xlsexp_ui_set_export_item_list();
	      jq_dialog.dialog('open');
	      return;
	    }
	    else if ('save' == p_cmd) { //-- 항목설정 저장
	      var a_item_key = [];
	      jq_dialog.find('.cid_tbody_export_item_sel tr').each(function(idx, item) {
	        var value = $(item).data('rec');
	        if (a_item_key.indexOf(value) == -1) { a_item_key.push(value); }
	      });
	      if (a_item_key.length == 0) {
	        alert('선택 정보가 없습니다.');
	        return;
	      }
	      g_a_item_key = a_item_key;
	      $fn_localStorage.set(g_data['expItemKey'], g_a_item_key.join(','));
	      jq_dialog.dialog('close');
	      return;
	    }
	    else if ('default' == p_cmd) {
	      g_a_item_key = g_a_def_item_key;
	      xlsexp_ui_set_export_item_list();
	      return;
	    }
	    else if (('add' == p_cmd) || ('del' == p_cmd)) {
	      var jq_tbody_unsel = jq_dialog.find('.cid_tbody_export_item_unsel');
	      var jq_tbody_sel = jq_dialog.find('.cid_tbody_export_item_sel');
	      var jq_tbody_from, jq_tbody_to;
	      if ('add' == p_cmd) {
	        jq_tbody_from = jq_tbody_unsel;
	        jq_tbody_to = jq_tbody_sel;
	      }
	      else if ('del' == p_cmd) {
	        jq_tbody_from = jq_tbody_sel;
	        jq_tbody_to = jq_tbody_unsel;
	      }
	      var jq_sel_list = jq_tbody_from.find('.cid_chk_export_item:checked');
	      if (jq_sel_list.length == 0) {
	        alert('선택 정보가 없습니다.');
	        return;
	      }
	      jq_tbody_from.find('tr').each(function(idx, item) {
	        var jq_tr = $(item);
	        if (jq_tr.find('.cid_chk_export_item:checked').length == 1) {
	          jq_tbody_to.append(jq_tr.detach());
	        }
	      });
	      jq_dialog.find('.cid_chk_export_item').prop('checked', false);
	      return;
	    }
	  }


  //-- return 선택되지 않은 item key from data array
  function fn_get_export_item_key_unsel() {
    var a_item_key = [];
    $.each(g_o_exp_item_data, function (sub_key, sub_val) {
      if (g_a_item_key.indexOf(sub_key) == -1) {
        a_item_key.push(sub_key);
      }
    });
    return a_item_key;
  }

  //-- return export item title
  function fn_get_export_item_title(p_item_key) {
    return $sf_obj_val(g_o_exp_item_data, p_item_key, '');
  }

  //-- return export data array, pjs 수정 (2025.05.28)
  function xlsexp_fn_get_export_data(p_a_item_key) {
    var a_item_key = $sf_arr(p_a_item_key, []);
    var a_data = [];

    var is_first_row = true;

    $('.cid_item_list').find('tbody tr').each(function (idx, item) {
      var o_rec = $(item).data('rec');

      // 저장 방식 확인
      var split_option = (typeof g_export_options !== 'undefined') ? g_export_options['IP_ACES_AUT_ALWD_IP'] || 'semicolon' : 'semicolon';

      // 특별 처리 여부 확인
      var ip_val = o_rec['IP_ACES_AUT_ALWD_IP'] || '';
      var ip_list = (split_option === 'row' && ip_val) ? ip_val.split(';').map(ip=>ip.trim()).filter(ip=>ip.length>0):[ip_val];

      // ip 수만큼 반복 (row 저장시 여러 번)
      ip_list.forEach(function(ip_each, ip_idx) {
          var a_title = [];
          var a_rec = [];

      $.each(a_item_key, function(sub_idx, sub_item) {
        if ($has_own(o_rec, sub_item) == true) {
          var s_tit = fn_get_export_item_title(sub_item);
          if (s_tit.length > 0) {
            var s_val = o_rec[sub_item];

            // ip 항목이면 현재 분리한 ip_each 사용
            if (sub_item === 'IP_ACES_AUT_ALWD_IP' & split_option === 'row') {
                s_val = ip_each;
                }

            if (is_first_row) {a_title.push(s_tit);}
            a_rec.push(s_val);
          }
        }
      });
      if (is_first_row) {
           a_data.push(a_title);
           is_first_row = false;
      }
      a_data.push(a_rec);
    });
  });
    return a_data;
  }

  //-- export item table작성
  function xlsexp_ui_set_export_item_list() {
    var jq_dialog = $('#id_popup_export_item');

    var a_item_key_unsel = fn_get_export_item_key_unsel();
    var a_item_key_sel = g_a_item_key;

    jq_dialog.find('.cid_export_item').find('tbody').empty();
    jq_dialog.find('.cid_chk_export_item').prop('checked', false);

    $.each(a_item_key_unsel, function(idx, item) {
      xlsexp_ui_append_export_item_tr('unsel', item);
    });
    $.each(a_item_key_sel, function(idx, item) {
      xlsexp_ui_append_export_item_tr('sel', item);
    });
  }

  //-- export item tr추가
  function xlsexp_ui_append_export_item_tr(p_cmd, p_item_key) {
    var jq_tbody = (('unsel' == p_cmd) ? $('#id_popup_export_item .cid_tbody_export_item_unsel') : $('#id_popup_export_item .cid_tbody_export_item_sel'));
    if (jq_tbody.length == 1) {
      var jq_tr = $('<tr class="export_item_tr cid_export_item_tr"></tr>').data('rec', p_item_key);
      var html = '';
      html += '  <td>';
      html += '    <div class="chk_agree">';
      html += '      <a href="javascript:void(0)">';
      html += '        <input type="checkbox" class="cid_chk_export_item" id="id_chk_export_item_' + p_item_key + '">';
      html += '        <label for="id_chk_export_item_' + p_item_key + '"><span></span></label>';
      html += '      </a>';
      html += '    </div>';
      html += '  </td>';
      html += '  <td>' + p_item_key + '</td>';
      html += '  <td>' + fn_get_export_item_title(p_item_key) + '</td>';

      // 추가사항 칼럼 - IP_ACES_AUT_ALWD_IP에만 select box 표시
      if (p_cmd = 'sel') {
          html += '  <td>';
          if (p_item_key === 'IP_ACES_AUT_ALWD_IP') {
              html += '    <select onchange="g_export_options[\'' + p_item_key + '\'] = this.value">';
              html += '      <option value="semicolon">한 행에 저장</option>';
              html += '      <option value="row">행으로 구분</option>';
              html += '    </select>';}
          } else {
              html += '    -';
              }
      html += '  </td>';
    }
      jq_tr.append(html);
      jq_tbody.append(jq_tr);
    }
</script>

<!-- xls_export 항목설정  -->
<div id="id_popup_export_item" class="dp_none">
  <div class="popup_content mb0">
    <div class="all_cont_wrap">
      <div class="left_cont">
        <div class="top_txt">
          <h3>검색항목 목록</h3>
        </div>
        <div class="ta_r"></div>
        <div class="bd_box">
          <div class="pkg_board scroll_box">
            <div class="scroll_table_header">
              <table class="table-list2 cid_export_item cid_export_item_unsel">
                <caption>검색항목 목록</caption>
                <colgroup>
                  <col style="width:50px">
                  <col style="width:50%">
                  <col style="width:auto">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">
                      <a href="javascript:void(0)"><input type="checkbox" id="id_chk_export_item_unsel_all" title="목록선택"><label for="id_chk_export_item_unsel_all"><span></span></label></a>
                    </th>
                    <th scope="col">항목코드</th>
                    <th scope="col">항목명</th>
                    <th scope="col">출력방식</th> <!-- pjs 추가 2025.05.28 -->
                  </tr>
                </thead>
                <tbody class="cid_tbody_export_item_unsel">
                </tbody>
              </table>
            </div><!-- .scroll_table_header -->
          </div><!-- .pkg_board scroll_box -->
        </div><!-- .bd_box -->
      </div><!-- .left_cont -->
      <div class="btn_cont">
        <button type="button" title="추가" class="btn btn_move" onclick="xlsexp_fn_export_item('add')">▶</button>
        <button type="button" title="삭제" class="btn btn_move" onclick="xlsexp_fn_export_item('del')">◀</button>
      </div><!-- .btn_cont -->
      <div class="right_cont">
        <div class="top_txt">
          <h3>출력항목 목록</h3>
          <div class="mt10 ml05">
            <button class="btn_updn" title="위로이동" onclick="xlsexp_fn_export_item('up')">▲</button>
            <button class="btn_updn" title="아래로이동" onclick="xlsexp_fn_export_item('dn')">▼</button>
          </div>
        </div>
        <div class="ta_r">
          <button type="button" class="btn btn_sml2 btn_gray2" onclick="xlsexp_fn_export_item('default')"><span>기본설정</span></button>
        </div>
        <div class="bd_box">
          <div class="pkg_board scroll_box">
            <div class="scroll_table_header">
              <table class="table-list2 cid_export_item cid_export_item_sel">
                <caption>서비스 검색결과 목록</caption>
                <colgroup>
                  <col style="width:50px">
                  <col style="width:50%">
                  <col style="width:auto">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">
                      <a href="javascript:void(0)"><input type="checkbox" id="id_chk_export_item_sel_all" title="목록선택"><label for="id_chk_export_item_sel_all"><span></span></label></a>
                    </th>
                    <th scope="col">항목코드</th>
                    <th scope="col">항목명</th>
                    <th scope="col">출력방식</th> <!-- pjs 추가 2025.05.28 -->
                  </tr>
                </thead>
                <tbody class="cid_tbody_export_item_sel">
                </tbody>
              </table>
            </div><!-- .scroll_table_header -->
          </div><!-- .pkg_board  scroll_box -->
        </div><!-- .bd_box -->
      </div><!-- .right_cont -->
    </div><!-- .all_cont_wrap -->
    <div class="lPop_bottom brd_tp mt10">
      <button type="button" class="btn btn_black" onclick="xlsexp_fn_export_item('save')">저장</button>
      <button type="button" class="btn btn_cancel">취소</button>
    </div>
  </div><!-- .popup_content mb0 -->
</div><!-- #id_popup_export_item -->
<!-- excelExport_inc.jsp } -->
</th:block>
</div>
