<!--/* top.jsp -> Thymeleaf 프래그먼트 변환 */-->
<div xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="top"
    th:with="bIsBstgwMode=${T(com.kt.openapi.web.util.CommonFunc).isRunmodeTag('bstgw_mode')},
             bIsBstgwManager=${T(com.kt.openapi.web.util.CommonFunc).isSpecificUser('bstgw.manager')},
             bIsBstgwViewer=${T(com.kt.openapi.web.util.CommonFunc).isSpecificUser('bstgw.viewer')}">

<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  var fnIsLoggedin = function() {
    return ((/*[[${ssUserVo != null ? ssUserVo.maskingMbrId : ''}]]*/ '').length > 0);
  }
  //API 권한 신청
  var sessionChk = function() {
    if (!fnIsLoggedin()) {
      location.href = /*[[@{/login/loginForm.do}]]*/ '/login/loginForm.do';
      return;
    }
    location.href = /*[[@{/mypage/mypageInfo.do}]]*/ '/mypage/mypageInfo.do';
  }

  //회원가입
  var mlink = function() {
   var mvar = "https://apilink.kt.co.kr/login/user/termsForm.do";
    window.open(mvar, '_blank');
  }

  //API 등록
  var apiReg = function() {
    if (!fnIsLoggedin()) {
      var btnHtm = '';
      btnHtm += ' <button type="button" title="확인" class="btn btn_sml3 btn_black btn_confirm cid_btn_close" onclick="fn_golink_with_login(\'apireg\')">확인</button> ';
      btnHtm += ' <button type="button" title="취소" class="btn btn_sml3 btn_popup_close cid_btn_close">취소</button> ';
      fnOpenLayer(btnHtm, '로그인', /*[[#{top.login.req}]]*/ '로그인이 필요합니다.');
      return;
    }

    var list = new Array();
    /*[# th:if="${ssUserVo != null}"]*/
    /*[# th:each="item : ${ssUserVo.authList}"]*/
    list.push(/*[[${item.autId}]]*/ '');
    /*[/]*/
    /*[/]*/

    if (!list[0]) {
      var btnHtm = '';
      btnHtm += ' <button type="button" title="확인" class="btn btn_sml3 btn_black btn_confirm cid_btn_close" onclick="fn_golink_with_login(\'mypage\')">확인</button> ';
      btnHtm += ' <button type="button" title="취소" class="btn btn_sml3 btn_popup_close cid_btn_close">취소</button> ';
      fnOpenLayer(btnHtm, 'API 권한 신청', /*[[#{top.aut.req}]]*/ 'API 권한 신청이 필요합니다.');
      return;
    }
    else {
      location.href = fn_get_direct_url('apireg');
    }
  }

  //SPC 등록 (그룹 생성 - 상단 메뉴 "API 등록"의 실제 진입점, 기존 apiReg()와 동일한 로그인/권한 체크 패턴 재사용)
  var apiSpcReg = function() {
    if (!fnIsLoggedin()) {
      var btnHtm = '';
      btnHtm += ' <button type="button" title="확인" class="btn btn_sml3 btn_black btn_confirm cid_btn_close" onclick="fn_golink_with_login(\'apispcreg\')">확인</button> ';
      btnHtm += ' <button type="button" title="취소" class="btn btn_sml3 btn_popup_close cid_btn_close">취소</button> ';
      fnOpenLayer(btnHtm, '로그인', /*[[#{top.login.req}]]*/ '로그인이 필요합니다.');
      return;
    }

    var list = new Array();
    /*[# th:if="${ssUserVo != null}"]*/
    /*[# th:each="item : ${ssUserVo.authList}"]*/
    list.push(/*[[${item.autId}]]*/ '');
    /*[/]*/
    /*[/]*/

    if (!list[0]) {
      var btnHtm = '';
      btnHtm += ' <button type="button" title="확인" class="btn btn_sml3 btn_black btn_confirm cid_btn_close" onclick="fn_golink_with_login(\'mypage\')">확인</button> ';
      btnHtm += ' <button type="button" title="취소" class="btn btn_sml3 btn_popup_close cid_btn_close">취소</button> ';
      fnOpenLayer(btnHtm, 'API 권한 신청', /*[[#{top.aut.req}]]*/ 'API 권한 신청이 필요합니다.');
      return;
    }
    else {
      location.href = fn_get_direct_url('apispcreg');
    }
  }

  //템플릿 관리 (API 등록 화면에서 쓰는 템플릿 CRUD - 로그인만 되어 있으면 접근 가능)
  var tmpltMng = function() {
    if (!fnIsLoggedin()) {
      var btnHtm = '';
      btnHtm += ' <button type="button" title="확인" class="btn btn_sml3 btn_black btn_confirm cid_btn_close" onclick="fn_golink_with_login(\'tmpltmng\')">확인</button> ';
      btnHtm += ' <button type="button" title="취소" class="btn btn_sml3 btn_popup_close cid_btn_close">취소</button> ';
      fnOpenLayer(btnHtm, '로그인', /*[[#{top.login.req}]]*/ '로그인이 필요합니다.');
      return;
    }
    location.href = fn_get_direct_url('tmpltmng');
  }

  //-- { API 검증 /배포 /승인-- by ktj
  var apiDeploy = function() {
    location.href = /*[[@{/api/deploy/mvDeployList.do}]]*/ '/api/deploy/mvDeployList.do';
  }

  var apiApproval = function() {
    location.href = /*[[@{/api/deploy/mvApprovalList.do}]]*/ '/api/deploy/mvApprovalList.do';
  }
  //-- }

  var beastDeployList = function() {
    location.href = /*[[@{/beast/deploy/mvDeployList.do}]]*/ '/beast/deploy/mvDeployList.do';
  }

  //-- [i][direct별 url]
  function fn_get_direct_url(direct) {
    var go_url = '';
    if ('console' == direct) {
      go_url = /*[[@{/mypage/console.do}]]*/ '/mypage/console.do';
    }
    else if ('mypage' == direct) {
      go_url = /*[[@{/mypage/mypageInfo.do}]]*/ '/mypage/mypageInfo.do';
    }
    else if ('apireg' == direct) {
      go_url = /*[[@{/api/main/mvMainList.do}]]*/ '/api/main/mvMainList.do';
    }
    else if ('apispcreg' == direct) {
      go_url = /*[[@{/api/spcreg/mvSpcReg.do}]]*/ '/api/spcreg/mvSpcReg.do';
    }
    else if ('tmpltmng' == direct) {
      go_url = /*[[@{/api/tmplt/mvTmpltMng.do}]]*/ '/api/tmplt/mvTmpltMng.do';
    }
    return go_url;
  }
  //-- [i][login후 사용 페이지 confirm]
  function fn_golink_with_login(direct) {
    var go_url = fn_get_direct_url(direct);
    if (go_url.length == 0) { return; }

    if (fnIsLoggedin()) {
      location.href = go_url;
      return;
    }

    var btnHtm = '';
    btnHtm += ' <button type="button" title="확인" class="btn btn_sml3 btn_black btn_confirm cid_btn_close" onclick="fn_gologin_with_returl(\'' + direct + '\')">확인</button> ';
    btnHtm += ' <button type="button" title="취소" class="btn btn_sml3 btn_popup_close cid_btn_close">취소</button> ';
    fnOpenLayer(btnHtm, '로그인', /*[[#{top.login.req}]]*/ '로그인이 필요합니다.');
    return;
  }
  function fn_gologin_with_returl(direct) {
    var go_url = fn_get_direct_url(direct);
    if (go_url.length == 0) { return; }
    location.href = c_url + 'login/loginForm.do?returnUrl=' + encodeURIComponent(go_url);
  }
  /*]]>*/
</script>

<!--/* 상단 메뉴를 dynamic하게 구성 */-->
<script th:src="@{/resources/js/pub/main.js}"></script>

<header>
  <div class="top_area">
    <div class="global_navi">
      <ul class="clfix">
        <li class="gbnv_1">
          <a th:if="${ssUserVo == null or ssUserVo.mbrId == null}" th:href="@{/login/loginForm.do}" title="로그인">로그인</a>
          <a th:if="${ssUserVo != null and ssUserVo.mbrId != null}" th:href="@{/login/pssoLogout.do}" title="로그아웃">로그아웃</a>
        </li>
        <li class="gbnv_2" th:if="${ssUserVo == null or ssUserVo.mbrId == null}"><a href="#" onclick="mlink();" title="회원가입">회원가입</a></li>
        <li class="gbnv_3" th:if="${ssUserVo != null and ssUserVo.mbrId != null}"><a href="javascript:void(0);" onclick="sessionChk();" title="API 권한신청">API 권한신청</a></li>
      </ul>
    </div><!-- .global_navi -->
    <h1 class="logo"><a th:href="@{/main/index.do}" title="KT Open API">KT Open API logo</a></h1>
    <div class="gnb">
      <div class="mainBox">
        <ul class="naviBox" id="gnb">
          <li class="menu1">
            <a href="javascript:void(0);" title="이용가이드">이용가이드</a>
            <ul>
              <li><a th:href="@{/guide/mvUseList.do}" title="이용가이드">이용가이드</a></li>
              <li><a th:href="@{/guide/mvShubList.do}" title="SHUB 이용안내">SHUB 가이드</a></li>
            </ul>
          </li><!-- .menu1 -->
          <li class="menu2">
            <a href="javascript:void(0);" onclick="apiReg();" title="API 등록">API 등록</a>
            <ul>
              <li><a href="javascript:void(0);" onclick="apiReg();" title="API 등록">API 등록</a></li>
              <li><a href="javascript:void(0);" onclick="apiSpcReg();" title="API 등록(NEW)">API 등록(NEW)</a></li>
              <li><a href="javascript:void(0);" onclick="tmpltMng();" title="템플릿 관리">템플릿 관리</a></li>
              <li id="deployMenu"><a href="javascript:void(0);" onclick="apiDeploy();" title="API 배포">API 배포</a></li>
              <li id="deployAuth"><a href="javascript:void(0);" onclick="apiApproval();" title="배포 승인"><div>배포 승인</div></a></li>
              <li th:if="${bIsBstgwMode and (bIsBstgwManager or bIsBstgwViewer)}"><a href="javascript:void(0);" onclick="beastDeployList();" title="BEAST API 배포">BEAST API 배포</a></li>
            </ul>
          </li><!-- .menu2 -->
          <th:block th:if="${bIsBstgwMode}">
          <li class="menu3">
            <a title="BEAST(TB)">BEAST(TB)</a>
            <ul>
              <li><a th:href="@{/beast/apigwmng/bstAdmSysDplyList/TB_KTC}" title="시스템관리(KTC)">시스템관리(KTC)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmApiDplyList/TB_KTC}" title="API관리(KTC)">API관리(KTC)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmSvcDplyList/TB_KTC}" title="서비스관리(KTC)">서비스관리(KTC)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmApiLinkDataList/TB_KTC}" title="부가정보관리(KTC)">부가정보관리(KTC)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmSysDplyList/TB_AZURE}" title="시스템관리(AZURE)">시스템관리(AZURE)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmApiDplyList/TB_AZURE}" title="API관리(AZURE)">API관리(AZURE)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmSvcDplyList/TB_AZURE}" title="서비스관리(AZURE)">서비스관리(AZURE)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmApiLinkDataList/TB_AZURE}" title="부가정보관리(AZURE)">부가정보관리(AZURE)</a></li>
            </ul>
          </li><!-- .menu3 -->
          <li class="menu4" th:if="${bIsBstgwManager or bIsBstgwViewer}">
            <a title="BEAST(PRD)">BEAST(PRD)</a>
            <ul>
              <li><a th:href="@{/beast/apigwmng/bstAdmSysDplyList/PRD_KTC}" title="시스템관리(KTC)">시스템관리(KTC)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmApiDplyList/PRD_KTC}" title="API관리(KTC)">API관리(KTC)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmSvcDplyList/PRD_KTC}" title="서비스관리(KTC)">서비스관리(KTC)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmApiLinkDataList/PRD_KTC}" title="부가정보관리(KTC)">부가정보관리(KTC)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmSysDplyList/PRD_AZURE}" title="시스템관리(AZURE)">시스템관리(AZURE)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmApiDplyList/PRD_AZURE}" title="API관리(AZURE)">API관리(AZURE)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmSvcDplyList/PRD_AZURE}" title="서비스관리(AZURE)">서비스관리(AZURE)</a></li>
              <li><a th:href="@{/beast/apigwmng/bstAdmApiLinkDataList/PRD_AZURE}" title="부가정보관리(AZURE)">부가정보관리(AZURE)</a></li>
            </ul>
          </li><!-- .menu4 -->
          </th:block>
          <li class="menu3" th:unless="${bIsBstgwMode}">
            <a th:href="@{/api/info/mvInfoView.do}" title="Open API">Open API</a>
            <ul>
              <li><a th:href="@{/api/info/mvInfoView.do}" title="Open API 규격서">API 검색 및 규격서</a></li>
            </ul>
          </li><!-- .menu3 -->
          <li class="menu5">
            <a href="javascript:void(0);" onclick="fn_golink_with_login('mypage');" title="MY 페이지">MY 페이지</a>
            <ul>
              <li><a href="javascript:void(0);" onclick="fn_golink_with_login('mypage');" title="MY 페이지">MY 페이지</a></li>
              <li th:if="${bIsBstgwMode}"><a href="javascript:void(0);" onclick="fn_golink_with_login('console');" title="Console">Console</a></li>
            </ul>
          </li><!-- .menu5 -->
        </ul><!-- .naviBox -->
      </div><!-- .mainBox -->
    </div>
  </div><!-- .top_area -->
</header>

<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  // KOS 개발자 그룹, KOS 운영자 그룹 메뉴 권한 설정
  $(function() {
    $('#deployMenu, #deployAuth').hide();
    $('#deployMenu').show();  //API 배포 (원본 JSP 기준 deployMenu_on 기본값이 항상 'y'라 항상 노출)
    /*[# th:if="${ssUserVo != null and ssUserVo.authList != null and !#lists.isEmpty(ssUserVo.authList.?[autNm == 'A/G 운영자 그룹'])}"]*/
    $('#deployAuth').show();  //API 승인
    /*[/]*/
  });
  /*]]>*/
</script>

</th:block>
</div>
