@charset "utf-8";

*, body, button, select, input,textarea{font-size:13px;font-family:Pretendard,'NanumGothic',sans-serif;-webkit-text-size-adjust:none;} 
a{text-decoration:none;}


/*text_process*/
.text_process {height: 276px !important;  text-align: center !important;}
.text_process_cont > div {display: inline-block; margin-right: 175px;}
.text_process_cont > div:last-child {margin-right: 0;}
.text_process_cont > div:first-child:before {display: none;}
.text_process_cont > div:last-child:after {display: none;}
.text_process a {display: inline-block; margin-top: 20px;}
.data {border: 1px solid #ccc; width: 84px; height: 123px; position: relative; border-radius: 20px;}
.data span {margin-top: 26px; width: 33px; height: 40px; background: url(../images/common/icon/ico_link.png) no-repeat; display: inline-block; text-indent: -9999px;}
.data .data_link {background: url(../images/common/icon/ico_link.png) no-repeat; }
.data .data_Gw {width: 48px; background: url(../images/common/icon/ico_gw.png) no-repeat;}
.data .data_enabler {width: 37px; background: url(../images/common/icon/ico_enabler.png) no-repeat;}
.data p {margin-top: 15px; font-size: 13px; color:#333; text-align: center; font-weight: 700;}

.data:after {content: ''; display: inline-block; width: 124px; height: 12px; text-indent: -9999px; background: url(../images/common/icon/ico_arrow_next.png) no-repeat; position: absolute; left: 111px; top: 33px;}
.process_success_next:after {content: 'Success'; padding-bottom: 36px; top: 5px; font-size: 13px; font-weight: 700; text-align: center; height: 13px; text-indent: 0; background: url(../images/common/icon/ico_arrow_next_success.png) 0 18px no-repeat; color: #098dd2;}
.process_failure_next:after {content: '! Error'; padding-bottom: 36px; top: 5px; font-size: 13px; font-weight: 700; text-align: center; height: 13px; text-indent: 0; background: url(../images/common/icon/ico_arrow_next_failure.png) 0 18px no-repeat; color: #ca363c;}
.data:before {content: ''; display: inline-block; width: 124px; height: 12px; text-indent: -9999px; background: url(../images/common/icon/ico_arrow_prev.png) no-repeat; position: absolute; left: -154px; top: 83px;}
.process_success_prev:before {content: 'Success'; padding-top: 31px; top: 73px; font-size: 13px; font-weight: 700; text-align: center; height: 13px; text-indent: 0; background: url(../images/common/icon/ico_arrow_prev_success.png) no-repeat; color: #098dd2;}
.process_failure_prev:before {content: '! Error'; padding-top: 31px; top: 73px; font-size: 13px; font-weight: 700; text-align: center; height: 13px; text-indent: 0; background: url(../images/common/icon/ico_arrow_prev_failure.png) no-repeat; color: #ca363c;}

.data_process {width: 124px;}
.process_next {position: relative; display: inline;}
.process_next p:nth-child(1) {font-size: 13px; text-align: center;}
.process_next p:nth-child(2) {display: inline-block; width: 124px; height: 12px; text-indent: -9999px; background: url(../images/common/icon/ico_arrow_next.png) no-repeat; position: absolute; left: 0; top: 0;}
.process_before {position: relative; display: inline;}
.process_before p:nth-child(1) {font-size: 13px; text-align: center;}
.process_before p:nth-child(2) {display: inline-block; width: 124px; height: 12px; text-indent: -9999px; background: url(../images/common/icon/ico_arrow_before.png) no-repeat; position: absolute; left: 0; top: 0;}
.btn7 {width: 115px; height: 27px; line-height: 27px;}

/*response*/
.response {min-height: 175px; display: inline-block; width: 100%; overflow: auto;}
.btn8 {width: 140px;}
.process_btn {margin-top: 20px; text-align: center;}

.pop_ft {font-size: 25px;}

.table-vw6 tbody tr td:nth-child(2) {text-align: left !important; padding: 0 20px;}
.distribution_cont .pkg_board .table-vw3 thead th {border-bottom: 0 !important;}


/* t, l, w, h provide by model dialog */
.dum-popup_box {z-index: 900; position: absolute; width: 50%; height: 50%; left: 50%; top: 20%; transform: translate(-50%, -20%);}
.popup_wrap {z-index: 900; height: 100%; width: 100%; overflow: hidden;}
.popup_header {background: #333; height: 55px; width: calc(100% - 40px); line-height: 55px;padding: 0 20px;}
.popup_header_title {color:#fff; font-size: 18px;}
.popup_header_button {float: right;}
.button_close {display: inline-block; width: 23px; height: 23px; text-indent: -9999px; background: url(../images/common/icon/ico_closeB.png) no-repeat; margin-top: 15px;}
.popArsenal {
  height: calc(100% - 55px - 3px - 35px);/* -55(header) -3(border-bottom) -35(t,b padding)*/
  background: #fff; border-left: 3px solid #333; border-right: 3px solid #333; border-bottom: 3px solid #333; padding: 20px 20px 15px;}
.popArsenal .scroll_wrap {height: 100%; overflow: auto;}
.popArsenal .scroll_wrap .wrap_content {width: calc(100% - 0px);}

.popArsenal .lPop_bottom {text-align: center !important;}

.red_txt_arsenal {color:#c93137;}

.table-vw7 tbody tr td {text-align: center !important; padding: 0 20px;}

/*scroll_box*/
.scroll_box11 {height: 305px; overflow: auto; }

/*distribution_cont*/
.distribution_cont {}
.distribution_cont .pkg_board .table-vw thead th {border-right: 1px solid #ccc; height: 20px; font-size: 14px; color: #333; background: #f7f7f7; font-weight: 700; border-bottom: 1px solid #ccc; padding:10px 14px;}
.distribution_cont .pkg_board .table-vw thead th:last-child { border-right: none; }
.distribution_cont .pkg_board .table-vw tbody td {border-right: 1px solid #ccc; text-align: center; height: 20px; font-size: 13px;}
.distribution_cont .pkg_board .table-vw tbody td:last-child { border-right: none; }

/*Error Setting*/
#idSpanErrorCode, #idSpanErrorMsg {color:red; font-weight:bold;}
