<!DOCTYPE html>
<!--/* beast/apigwmng/bstAdmSysDplyList.jsp -> Thymeleaf 변환.
     bstAdmApiLinkDataList.html과 동일 패턴(bIsBstgwManager via T(...), dp_target_text via th:with). */-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default(layoutType='default', bodyClass=null)}">
<head>
    <title>KT Open API</title>
</head>
<body>
<div layout:fragment="content"
     th:with="bIsBstgwManager=${T(com.kt.openapi.web.util.CommonFunc).isSpecificUser('bstgw.manager')},
              dp_target_text=${'(' + attr_target + ')'}">

<!-- //-- [tag:PRJ-20220901] -->
<script th:inline="javascript">
  var g_data = Object.assign((g_data||{}), {
    'usePagination': 'y',
    'pageUnit': 20,
    'pageSize': 10,
    'expItemKey': 'exp_item_key_bstAdmSysDplyList',
    'target': (/*[[${attr_target != null ? attr_target : ''}]]*/ '').toUpperCase(),
	'azureYn': ''
  });

  $(document).ready(function() {
    fn_init_handler();
    fn_init_dialog();
    fn_init_page();
	localStorage.removeItem(g_data['expItemKey']);
  });
  function fn_init_handler() {
    $('.cid_btn_search').on('click', function(p_evt) {
      p_evt.preventDefault();
      fn_query_list(1, 'manual');
    });

    $('.cid_enter_search').on('keypress', function(p_evt) {
      if (p_evt.keyCode == 13) {
        p_evt.preventDefault();	$('.cid_btn_search').trigger('click');
      }
    });

    $('#id_chk_listall').on('click', function(p_evt) {
      var use_yn = ($(this).prop('checked') ? 'n' : 'y');
      ui_use_pagination(use_yn);
    });

    $('#id_popup_edit .cid_sel_edpt_prot').on('click change', function(p_evt) {
      var prot = $sf_str($(this).val()).toLowerCase();
      var jq_dialog = $('#id_popup_edit');
      jq_dialog.find('.cid_opt_edpt_prot').hide();
      jq_dialog.find('.cid_opt_edpt_prot_' + prot).show();
    });

    $('.cid_btn_bst_api_test_direct').on('mouseover', function(p_evt) {
      if ($(this).is('.cid_api_get_list')) {
        var jq_target = $(this);
        var jq_direct = jq_target.find('.cid_bst_api_test_direct');
        if (jq_direct.length == 0) {
          jq_target.css({'position':'relative'});
          jq_direct = $('<div class="p10 cid_bst_api_test_direct" onmouseleave="$(this).hide();" style="display:flex;position:absolute;top:30px;left:0px;z-index:999;background:lightgrey;border-radius:10px;"></div>');
          jq_direct.append($('<span><button type="button" class="mr10 pl05 pr05 btn btn_sml btn_lightGray cid_btn_bst_api_test cid_api_get_list cid_direct"><span>All</span></button></span>'));
          jq_direct.append($('<span><button type="button" class="mr10 pl05 pr05 btn btn_sml btn_lightGray cid_btn_bst_api_test cid_api_get_list cid_direct cid_direct_dplytype_dply"><span>DPLY</span></button></span>'));
          jq_direct.append($('<span><button type="button" class="mr10 pl05 pr05 btn btn_sml btn_lightGray cid_btn_bst_api_test cid_api_get_list cid_direct cid_direct_dplytype_del"><span>DEL</span></button></span>'));
          jq_target.append(jq_direct);
        }
        else {
          jq_direct.show();
        }
      }
      else if ($(this).is('.cid_api_post')) {
        var jq_target = $(this);
        var jq_direct = jq_target.find('.cid_bst_api_test_direct');
        if (jq_direct.length == 0) {
          jq_target.css({'position':'relative'});
          jq_direct = $('<div class="p10 cid_bst_api_test_direct" onmouseleave="$(this).hide();" style="display:flex;position:absolute;top:30px;left:0px;z-index:999;background:lightgrey;border-radius:10px;"></div>');
          jq_direct.append($('<span><button type="button" class="mr10 pl05 pr05 btn btn_sml btn_lightGray cid_btn_bst_api_test cid_api_post cid_direct cid_direct_dplytype_dply"><span>DPLY</span></button></span>'));
          jq_direct.append($('<span><button type="button" class="mr10 pl05 pr05 btn btn_sml btn_lightGray cid_btn_bst_api_test cid_api_post cid_direct cid_direct_dplytype_del"><span>DEL</span></button></span>'));
          jq_target.append(jq_direct);
        }
        else {
          jq_direct.show();
        }
      }
    });
    $('.cid_btn_bst_api_test_direct').on('mouseleave', function(p_evt) {
      $('.cid_bst_api_test_direct').hide();
    });

    $(document).on('click', '.cid_btn_bst_api_test', function(p_evt) {
      p_evt.preventDefault();
      var api_dir = '';
      api_dir = ($(this).is('.cid_api_get_list') ? 'sys-get-list' : api_dir);
      api_dir = ($(this).is('.cid_api_get_list.cid_direct_dplytype_dply') ? 'sys-get-list-dply' : api_dir);
      api_dir = ($(this).is('.cid_api_get_list.cid_direct_dplytype_del') ? 'sys-get-list-del' : api_dir);
      api_dir = ($(this).is('.cid_api_get_item') ? 'sys-get' : api_dir);
      api_dir = ($(this).is('.cid_api_post.cid_direct_dplytype_dply') ? 'sys-dply' : api_dir);
      api_dir = ($(this).is('.cid_api_post.cid_direct_dplytype_del') ? 'sys-del' : api_dir);

      fn_beast_api_test(api_dir);
    });
  }

  function fn_init_dialog() {
    $('#id_popup_edit').dialog({
      autoOpen: false, width: 1080, modal: true,
    });
    $('#id_popup_edit').find('.btn.btn_cancel').click(function(p_evt) {
      p_evt.preventDefault();
      $('#id_popup_edit').dialog('close');
    });
    $('#id_popup_itemview').dialog({
      autoOpen: false, width: 800, modal: true,
    });
    $('#id_popup_itemview').find('.btn.btn_cancel').click(function(p_evt) {
      p_evt.preventDefault();
      $('#id_popup_itemview').dialog('close');
    });
  }
  function fn_init_page() {
    if ('y' != g_data['usePagination']) { $('#id_list_paging').hide(); }
    //-- [i]상단버튼 하단복사
    $('.cid_btn_line').eq(1).append($('.cid_btn_line').eq(0).clone());

    fn_query_list();
  }

  function ui_use_pagination(use_yn) {
    g_data['usePagination'] = ((use_yn != 'y') ? 'n' : 'y');
    var is_listall = ('y' != g_data['usePagination']);
    if (is_listall) {
      $('#id_list_paging').hide();
    }
    else {
      $('#id_list_paging').show();
    }
    $('#id_chk_listall').prop('checked', is_listall);
  }

  //-- #id_popup_edit popup input clear
  function ui_popup_edit_clear() {
    $('#id_popup_edit').find('.cid_input').val('');
  }

  //-- jquer-ui dialog title 설정
  function ui_popup_set_title(s_popup_id, s_title) {
    $('#' + s_popup_id).siblings('.ui-dialog-titlebar').find('span.ui-dialog-title').text(s_title);
  }

  //-- 선택 정보 edit popup
  function fn_create() {
    fn_edit('insert', {});
  }

  function fn_update() {
    var jq_rdo_rec = $('input[name="rdo_rec"]:checked');
    if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
    var sel_rec = jq_rdo_rec.closest('tr').data('rec');
    fn_edit('update', sel_rec);
  }

  function fn_view() {
    var jq_rdo_rec = $('input[name="rdo_rec"]:checked');
    if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
    var sel_rec = jq_rdo_rec.closest('tr').data('rec');
    fn_edit('view', sel_rec);
  }

  function fn_edit(s_mode, sel_rec) {
    var jq_dialog = $('#id_popup_edit');

    ui_popup_edit_clear();

    //-- mode에 따른 화면설정
    jq_dialog.find('.cid_ui_mode').hide();
    //-- key field dis/enable
    var is_readonly = ('insert' != s_mode);
    jq_dialog.find('.cid_txt_sys_id').prop('readonly', is_readonly);

    jq_dialog.find('.cid_txt_dply_type').prop('readonly', true);

    if ('insert' == s_mode) {
      ui_popup_set_title('id_popup_edit', '시스템 정보' + /*[[${dp_target_text}]]*/ '' + ' 등록');
      jq_dialog.find('.cid_ui_mode_insert').show();

      jq_dialog.find('.cid_txt_dply_dt').val($fn_fmt_date('fmt_ymd', (new Date()), '-') + 'T' + $fn_fmt_date('fmt_hms', (new Date()), ':') + '.000');
      jq_dialog.find('.cid_txt_dply_type').val('DPLY');

      jq_dialog.find('.cid_sel_edpt_prot').trigger('click');
    }
    else if (('update' == s_mode) || ('view' == s_mode)) {
      if ('update' == s_mode) {
        ui_popup_set_title('id_popup_edit', '시스템 정보' + /*[[${dp_target_text}]]*/ '' + ' 수정');
        jq_dialog.find('.cid_ui_mode_update').show();
      }
      else {
        ui_popup_set_title('id_popup_edit', '시스템 정보' + /*[[${dp_target_text}]]*/ '' + ' 조회');
        jq_dialog.find('.cid_ui_mode_view').show();
      }

      jq_dialog.find('.cid_txt_dply_dt'             ).val(sel_rec['DPLY_DT']);
      jq_dialog.find('.cid_txt_dply_type'           ).val(sel_rec['DPLY_TYPE']);
      jq_dialog.find('.cid_txt_sys_id'              ).val(sel_rec['SYS_ID']);
      jq_dialog.find('.cid_txt_sys_nm'              ).val(sel_rec['SYS_NM']);
      jq_dialog.find('.cid_txt_sys_cd'              ).val(sel_rec['SYS_CD']);
      jq_dialog.find('.cid_txt_api_link_cd'         ).val(sel_rec['API_LINK_CD']);

      jq_dialog.find('.cid_sel_edpt_prot'           ).val(sel_rec['EDPT_PROT']).trigger('click');

      jq_dialog.find('.cid_txt_edpt_atrib_url'      ).val(sel_rec['EDPT_ATRIB_URL']);

      jq_dialog.find('.cid_txt_edpt_atrib_certi'    ).val(sel_rec['EDPT_ATRIB_CERTI']);
      jq_dialog.find('.cid_txt_edpt_atrib_certi_key').val(sel_rec['EDPT_ATRIB_CERTI_KEY']);

      jq_dialog.find('.cid_txt_edpt_atrib_ecod'     ).val(sel_rec['EDPT_ATRIB_ECOD']);
      jq_dialog.find('.cid_txt_edpt_atrib_addr'     ).val(sel_rec['EDPT_ATRIB_ADDR']);
      jq_dialog.find('.cid_txt_edpt_atrib_min_pool' ).val(sel_rec['EDPT_ATRIB_MIN_POOL']);
      jq_dialog.find('.cid_txt_edpt_atrib_max_pool' ).val(sel_rec['EDPT_ATRIB_MAX_POOL']);

      jq_dialog.find('.cid_txt_koa_sys_id'          ).val(sel_rec['KOA_SYS_ID']);
    }

    jq_dialog.dialog('open');
  }

  function fn_delete() {
    var jq_rdo_rec = $('input[name="rdo_rec"]:checked');
    if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
    var sel_rec = jq_rdo_rec.closest('tr').data('rec');

    if (!confirm('선택된 정보를 삭제 하시겠습니까?')) { return; }

    var rec = { 'seq': sel_rec['SEQ'] };
    if (true == $is_empty(rec['seq'])) { alert_message('[err][seq 설정없음]'); return; };
    if (false == $is_positive_number(rec['seq'])) { alert_message('[err][seq 형식오류]'); return; };

    proc_item('delete', rec);
  }

  //-- 수정저장
  function fn_edit_proc(s_mode) {
    var jq_dialog = $('#id_popup_edit');

    if ('dev_api_send' == s_mode) {
      var param = new Object();
      param['cmd'] = 'cmd_api_send';
      param['api_target'] = '';
      param['api_domain'] = 'http://127.0.0.1:19080/apidev/beast';
      param['api_url'] = '/apilink/v1/sys/getSysDplyList';
      param['api_method'] = 'GET';
      param['api_body'] = JSON.stringify(param);

      $.ajax({
        type: 'POST',
        url: /*[[@{/beast/api/common/ajax_proc.do}]]*/ '/beast/api/common/ajax_proc.do' + '?cmd=' + param['cmd'],
        data: JSON.stringify(param),
        contentType: 'application/json',
        dataType: 'JSON',
        async: false,
        success: function(data) {
          var s_json = $sf_json_stringify(data);
          alert_message(s_json);
          $console_log('o-o', 'data: ', data);
        },
        error: function(request, status, error) {
          //--@@console.log('code: ' + request.status + '\n' + 'error: ' + error);
        }
      });
      return;
    }

    if ('dev_test' == s_mode) {
      jq_dialog.find('.cid_txt_dply_dt'                  ).val($fn_fmt_date('fmt_ymd', (new Date()), '-') + 'T' + $fn_fmt_date('fmt_hms', (new Date()), ':') + '.000');
      jq_dialog.find('.cid_txt_dply_type'                ).val('DPLY');
      jq_dialog.find('.cid_txt_sys_id'                   ).val('SCAP-ID-001');
      jq_dialog.find('.cid_txt_sys_nm'                   ).val('스캅시스템001');
      jq_dialog.find('.cid_txt_sys_cd'                   ).val('SYS_CD_001');
      jq_dialog.find('.cid_txt_api_link_cd'              ).val('APILINK_CD_001');

      jq_dialog.find('.cid_sel_edpt_prot'                ).val('HTTPS').trigger('click');

      jq_dialog.find('.cid_txt_edpt_atrib_url'           ).val('https://sb.com;https://sb1.com');

      jq_dialog.find('.cid_txt_edpt_atrib_certi'         ).val('#certi#');
      jq_dialog.find('.cid_txt_edpt_atrib_certi_key'     ).val('#certi_key#');

      jq_dialog.find('.cid_txt_edpt_atrib_ecod'          ).val('UTF-8');
      jq_dialog.find('.cid_txt_edpt_atrib_addr'          ).val('127.0.0.1:80;127.0.0.1:443;127.0.0.1:8001');
      jq_dialog.find('.cid_txt_edpt_atrib_min_pool'     ).val('100');
      jq_dialog.find('.cid_txt_edpt_atrib_min_pool'     ).val('2000');

      jq_dialog.find('.cid_txt_koa_sys_id'               ).val('KOA_SCAP');

      return;
    }

    var rec = {};

    rec['dplyDt'] = $sf_str(jq_dialog.find('.cid_txt_dply_dt').val());
    rec['dplyType'] = $sf_str(jq_dialog.find('.cid_txt_dply_type').val());
    rec['sysId'] = $sf_str(jq_dialog.find('.cid_txt_sys_id').val());
    rec['sysNm'] = $sf_str(jq_dialog.find('.cid_txt_sys_nm').val());
    rec['sysCd'] = $sf_str(jq_dialog.find('.cid_txt_sys_cd').val());
    rec['apiLinkCd'] = $sf_str(jq_dialog.find('.cid_txt_api_link_cd').val());
    rec['edptProt'] = $sf_str(jq_dialog.find('.cid_sel_edpt_prot').val());

    if (('HTTP' == rec['edptProt']) || ('HTTPS' == rec['edptProt']) || ('CLOSEABLE' == rec['edptProt']) || ('MTLS' == rec['edptProt'])) {
      rec['edptAtribUrl'] = $sf_str(jq_dialog.find('.cid_txt_edpt_atrib_url').val());
    }
    if ('MTLS' == rec['edptProt']) {
      rec['edptAtribCerti'] = $sf_str(jq_dialog.find('.cid_txt_edpt_atrib_certi').val());
      rec['edptAtribCertiKey'] = $sf_str(jq_dialog.find('.cid_txt_edpt_atrib_certi_key').val());
    }
    if ('SOCKET' == rec['edptProt']) {
      rec['edptAtribEcod'] = $sf_str(jq_dialog.find('.cid_txt_edpt_atrib_ecod').val());
      rec['edptAtribAddr'] = $sf_str(jq_dialog.find('.cid_txt_edpt_atrib_addr').val());
      rec['edptAtribMinPool'] = $sf_str(jq_dialog.find('.cid_txt_edpt_atrib_min_pool').val());
      rec['edptAtribMaxPool'] = $sf_str(jq_dialog.find('.cid_txt_edpt_atrib_max_pool').val());
    }
    rec['koaSysId'] = $sf_str(jq_dialog.find('.cid_txt_koa_sys_id').val());

    if (true == $is_empty(rec['dplyDt'])) { alert_message('[err][dplyDt 입력없음]'); return false; };
    if (true == $is_empty(rec['dplyType'])) { alert_message('[err][dplyType 입력없음]'); return false; };
    if (true == $is_empty(rec['sysId'])) { alert_message('[err][sysId 입력없음]'); return false; };
    if (true == $is_empty(rec['sysNm'])) { alert_message('[err][sysNm 선택없음]'); return false; };
    if (true == $is_empty(rec['edptProt'])) { alert_message('[err][edptProt 선택없음]'); return false; };

    //-- [i][null field type check]
    if (!$is_empty(rec['edptAtribMinPool']) && !$is_number(rec['edptAtribMinPool'])) { alert_message('[err][edptAtribMinPool 형식오류]'); return false; }
    if (!$is_empty(rec['edptAtribMaxPool']) && !$is_number(rec['edptAtribMaxPool'])) { alert_message('[err][edptAtribMaxPool 형식오류]'); return false; }

    if ('get_item' == s_mode) {
      return rec;
    }

    if ('insert' == s_mode) {
      var o_item = fn_query_item({'sysId': rec['sysId'] });
      var s_msg = '';
      if (null == o_item) {
        s_msg = '중복검색 오류';
      }
      else {
        var fv_sysId = $sf_obj_val(o_item, 'SYS_ID');
        if (fv_sysId == rec['sysId']) {
          s_msg = '[err][sysId 중복값]';
        }
      }

      //영어만 입력 가능
      //영어 + 특수문자 - 만 입력 가능
      //특수문자 - 는 맨 앞뒤에 입력 불가능
  	  var regExp = /^[a-zA-Z-]+$/;
  	  var regExpStr = rec['sysId'];
  	  var firstChar = regExpStr.substr(0,1);
  	  var lastChar = regExpStr.substr(regExpStr.length-1,1);

  	  if(firstChar == '-' || lastChar == '-'){
  		 s_msg = '시스템 ID 맨 앞뒤에는 특수문자 (-) 불가능';
  	  }

	  if(!regExp.test(regExpStr)){
		  s_msg = '시스템 ID 영어 및 특수문자 (-)만 가능';
	  }

      if (s_msg.length > 0) { alert_message(s_msg); return; }
    }

    proc_item(s_mode, rec);

    jq_dialog.dialog('close');
  }

  //-- 정보처리
  function proc_item(s_mode, rec) {
    var param = new Object();
    param['cmd'] = 'cmd_db_tran';
    param['target'] = g_data['target'];
    param['mode'] = s_mode;
    if ('insert' == s_mode) {
      param['rec'] = rec;
    }
    else if ('update' == s_mode) {
      param['rec'] = rec;
    }
    else if ('delete' == s_mode) {
      param['rec'] = rec;
    }
    else {
      return;
    }
    $.ajax({
      type: 'POST',
      url: /*[[@{/beast/api/bstAdmSysDply/ajax_proc.do}]]*/ '/beast/api/bstAdmSysDply/ajax_proc.do' + '?cmd=' + param['cmd'],
      data: JSON.stringify(param),
      contentType: 'application/json',
      dataType: 'JSON',
      async: false,
      success: function(data) {
        var b_is_valid_data = $has_own(data, 'returnCd');
        b_is_valid_data &= $has_own(data, 'returnMsg');
        if (!b_is_valid_data) { alert_message('유효하지 않은 처리 결과 입니다.');  return; }

        var returnCd = $sf_obj_val(data, 'returnCd');
        var returnMsg = $sf_obj_val(data, 'returnMsg');
        var result = $sf_obj_val(data, 'result', '#N/A#');
        var s_msg = '';
        if ('OK' == returnCd) {
          s_msg = '처리 되었습니다.';
          s_msg += '\n\n[result: ' + result + ']';
          fn_query_list();
        }
        else {
          s_msg = '[err][returnCd: ' + returnCd + ']\n[returnMsg: ' + returnMsg + ']';
        }
        if (s_msg.length > 0) {
          window.setTimeout(function() { alert_message(s_msg); }, 100);
        }
      },
      error: function(request, status, error) {
	      //--@@console.log('code: ' + request.status + '\n' + 'error: ' + error);
      }
    });
  }

  //-- 정보 view popup
  function fn_itemview(sel_rec) {
    var jq_dialog = $('#id_popup_itemview');

    var s_title = '정보 조회-[SEQ: ' + sel_rec['SEQ'] + '][SYS_ID: ' + sel_rec['SYS_ID'] + ']';
    ui_popup_set_title('id_popup_itemview', s_title);

    var jq_tbody = jq_dialog.find('table > tbody');
    jq_tbody.empty();
    var a_item_key = $sf_arr(g_a_item_key, []);
    $.each(a_item_key, function(sub_idx, sub_item) {
      if ($has_own(sel_rec, sub_item) == true) {
        var s_tit = fn_get_export_item_title(sub_item);
        if (s_tit.length > 0) {
          var s_val = sel_rec[sub_item];
          jq_tbody.append('<tr><th scope="row">' + s_tit + '</th><td>' + s_val + '</td></tr>');
        }
      }
    });
    jq_dialog.dialog('open');
    jq_dialog.find('.scroll_box').scrollTop(0);
  }
</script>
<script th:inline="javascript">
  //-- 페이징 조회
  function pageGo(pageIndex) {
    fn_query_list(pageIndex, 'manual');
  }
  //-- list 검색
  function fn_query_list(pageIndex, s_cmd) {
    var param = new Object();
    param['cmd'] = 'cmd_db_list';
    param['target'] = g_data['target'];
    param['usePagination'] = g_data['usePagination'];
    param['pageUnit'] = g_data['pageUnit'];
    param['pageSize'] = g_data['pageSize'];
    param['pageIndex'] = $sf_int(pageIndex, 1);

    param['sysId'] = $('#id_q_sys_id').val();
    param['sysNm'] = $('#id_q_sys_nm').val();
    param['dplyType'] = $('#id_q_dply_type').val();

    //--##alert_message( JSON.stringify(param) );
    var s_msg = '';
    //--##if (param['sysId'].length == 0) { s_msg = '시스템 ID를 입력하세요.'; }

    if (s_msg.length > 0) {
      (('manual' == s_cmd) ? alert_message(s_msg) : void(0))
      return;
    }

    var fn_beforeSend = (function(xhr) {
      (('function' == typeof($.ajaxSetup()['beforeSend'])) && ($.ajaxSetup()['beforeSend'])(xhr));
      ui_init_list();
      ui_display_message_list('검색중 입니다...');
      $('.cid_tot_rec_cnt').text('-');
    });
    var fn_error = (function(request, status, error) {
      ui_display_message_list('');
      alert_message('status: ' + request.status + '\n' + 'error: ' + error);
    });
    var fn_success = (function(data, textStatus, request) {
      ui_display_message_list('');
      var b_is_valid_data = (($has_own(data, 'nlist') == true) && ($has_own(data, 'paginationInfo') == true));
      var nlist = [];
      var paginationInfo = {};
      if (true == b_is_valid_data) {
        nlist = data['nlist'];
        paginationInfo = data['paginationInfo'];
        b_is_valid_data = ((Array.isArray(nlist) == true) && (typeof(paginationInfo) == 'object'));
      }
      if (true == b_is_valid_data) {
        var s_msg = ((nlist.length == 0) ? '검색 결과가 없습니다.' : '');
        ui_display_list(nlist, paginationInfo, s_msg);
        var tot_rec_cnt = $sf_int($sf_obj_val(paginationInfo, 'totalRecordCount'));
        $('.cid_tot_rec_cnt').text(tot_rec_cnt);
      }
      else {
        alert_message('유효하지 않은 검색 결과 입니다.');
      }
    });
    $.ajax({
      url: /*[[@{/beast/api/bstAdmSysDply/ajax_query.do}]]*/ '/beast/api/bstAdmSysDply/ajax_query.do' + '?cmd=' + param['cmd'],
      type: 'POST',
      data :param,
      beforeSend: fn_beforeSend,
      success: fn_success,
      error: fn_error,
    });
  }

  //-- item 검색
  function fn_query_item(o_param) {
    o_param = $sf_obj(o_param);
    var param = new Object();
    param['cmd'] = 'cmd_db_item';
    param['target'] = g_data['target'];
    param = Object.assign(param, $sf_obj(o_param));

    var o_item = null;

    var fn_error = (function(request, status, error) {
      ui_display_message_list('');
      alert_message('status: ' + request.status + '\n' + 'error: ' + error);
    });
    var fn_success = (function(data, textStatus, request) {
      ui_display_message_list('');
      var b_is_valid_data = ($has_own(data, 'nlist') == true);
      var nlist = [];
      if (true == b_is_valid_data) {
        nlist = data['nlist'];
        b_is_valid_data = (Array.isArray(nlist) == true);
      }
      if (true == b_is_valid_data) {
        o_item = ((nlist.length > 0) ? nlist[0] : {});
      }
    });
    $.ajax({
      url: /*[[@{/beast/api/bstAdmSysDply/ajax_query.do}]]*/ '/beast/api/bstAdmSysDply/ajax_query.do' + '?cmd=' + param['cmd'],
      type: 'POST',
      data :param,
      async: false,
      success: fn_success,
      error: fn_error,
    });

    return o_item;
  }

  function ui_init_list() {
    //-- init list
    $('.cid_item_list').find('tbody').empty();
    $('#id_list_paging').empty();
  }

  function ui_display_message_list(p_msg) {
    var colspan = $('.cid_item_list > thead > tr').children().length;
    var html = '<tr><td colspan="' + colspan + '">' + p_msg + '</td></tr>';
    $('.cid_item_list').find('tbody').empty().append(html);
  }

  function ui_display_list(p_nlist, p_pginfo, p_msg) {
    ui_init_list();
    if (p_msg.length > 0) {
      ui_display_message_list(p_msg);
    }
    else {
      var jq_tbody = $('.cid_item_list').find('tbody');
      var firstRecordIndex = p_pginfo.firstRecordIndex;
      $.each(p_nlist, function (idx, item) {
        idx += firstRecordIndex;
        var jq_tr = $('<tr></tr>').data('rec', item);
        var html = '';
        html += '<td>';
        html += '  <span class="chk_agree">';
        html += '    <a href="javascript:void(0)">';
        html += '      <input type="radio" name="rdo_rec" id="id_rdo_' + idx + '" title="정보선택">';
        html += '      <label for="id_rdo_' + idx + '"><span></span></label>';
        html += '    </a>';
        html += '  </span>';
        html += '</td>';
        html += '<td>';
        html += '  <span title="' + $sf_str(item['seq']) + '">';
        html += '    <a href="javascript:void(0)" onclick="fn_itemview($(this).closest(\'tr\').data(\'rec\'));">' + (idx + 1) + '</a>';
        html += '  </span>';
        html += '</td>';
        html += '<td>' + $sf_str(item['sysId']) + '</td>';
        html += '<td>' + $sf_str(item['sysNm']) + '</td>';
        html += '<td>' + $sf_str(item['sysCd']) + '</td>';
        html += '<td>' + $sf_str(item['dplyDt']).substr(2, 14) + '</td>';
        html += '<td>' + $sf_str(item['dplyType']) + '</td>';
        html += '<td>' + $sf_str(item['koaSysId']) + '</td>';
        html += '<td>' + $sf_str(item['udate']).substr(2, 14) + '</td>';
        jq_tr.append(html);
        jq_tbody.append(jq_tr);
      });
      jq_tbody.find('input[name="rdo_rec"]').eq(0).prop('checked', true);
      if ('y' == g_data['usePagination']) {
        //-- totalRecordCount, currentPageNo, recordCountPerPage, pageSize, totalPageCount, firstPageNoOnPageList, lastPageNoOnPageList, firstRecordIndex, lastRecordIndex, firstPageNo, lastPageNo
        drawPaging('id_list_paging', p_pginfo.currentPageNo, p_pginfo.firstPageNoOnPageList, p_pginfo.totalPageCount, p_pginfo.lastPageNoOnPageList, 'pageGo');
      }
    }
  }

  function fn_beast_api_test(api_dir) {
    var api_info = {
      'sys-get-list': ['/apilink/v1/sys/getSysDplyList', 'GET'],
      'sys-get-list-dply': ['/apilink/v1/sys/getSysDplyList', 'GET', '?dplyType=DPLY'],
      'sys-get-list-del': ['/apilink/v1/sys/getSysDplyList', 'GET', '?dplyType=DEL'],
      'sys-get': ['/apilink/v1/sys/getSysDplyById', 'GET'],
      'sys-dply': ['/apilink/v1/sys/sysDply', 'POST'],
      'sys-del': ['/apilink/v1/sys/sysDply', 'POST'],
    };

    //-- API_ID -> apiId
    var prvfn_objkey_camelCase = (function(o_rec) {
      o_rec = $sf_obj(o_rec);
      var o_new_rec = {};
      for (key in o_rec) {
        if (o_rec.hasOwnProperty(key)) {
          var new_key = key.toLowerCase().replace(/(_.)/g, function(c) { return c.slice(1).toUpperCase(); } );
          o_new_rec[new_key] = o_rec[key];
        }
      }
      return o_new_rec;
    });

    var req_url = $sf_str($sf_arr($sf_obj_val(api_info, api_dir))[0]);
    var req_method = $sf_str($sf_arr($sf_obj_val(api_info, api_dir))[1]);
    var req_qstr = $sf_str($sf_arr($sf_obj_val(api_info, api_dir))[2]);
    var req_body = null;
    var a_direct = [];

    if (req_url.length == 0) { alert_message('설정된 request url 정보가 없습니다.'); return; }
    if (req_method.length == 0) { alert_message('설정된 request method 정보가 없습니다.'); return; }

    var jq_rdo_rec = $('input[name="rdo_rec"]:checked');

    if ('sys-get' == api_dir) {
      var sysId = '';
      if ($('#id_popup_edit').is(':visible')) {
        sysId = $sf_str($('#id_popup_edit .cid_txt_sys_id').val());
        if (sysId.length == 0) { alert_message('[err][sysId 입력없음]'); return; }
      }
      else {
        if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
        var sel_rec = jq_rdo_rec.closest('tr').data('rec');
        sysId = $sf_str(sel_rec['SYS_ID']);
        if (sysId.length == 0) { alert_message('[err][sysId 설정없음]'); return; }
      }
      req_qstr = '?sysId=' + encodeURIComponent(sysId);
      a_direct.push('sys-get');
      a_direct.push('import_data');
    }
    else if (('sys-dply' == api_dir) || ('sys-del' == api_dir)) {
      var sel_rec
      if (('sys-dply' == api_dir) && ($('#id_popup_edit').is(':visible'))) {
        sel_rec = fn_edit_proc('get_item');
        if (false === sel_rec) {	//-- [i]validation fail
          return;
        }
      }
      else {
        if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
        sel_rec = prvfn_objkey_camelCase(jq_rdo_rec.closest('tr').data('rec'));
      }
      //-- [i][set dplyDt, dplyType]
      sel_rec['dplyDt'] = $fn_fmt_date('fmt_ymd', (new Date()), '-') + 'T' + $fn_fmt_date('fmt_hms', (new Date()), ':');
      sel_rec['dplyType'] = (('sys-del' == api_dir) ? 'DEL' : 'DPLY');
      req_body = fn_make_payload('sysDply', sel_rec);
    }
    else if (('sys-get-list' == api_dir) || ('sys-get-list-dply' == api_dir) || ('sys-get-list-del' == api_dir)) {
      a_direct.push('sys-get-list');
      a_direct.push('import_data');
    }

    var test_param = {
      'req_url': req_url,
      'req_method': req_method,
      'req_qstr': req_qstr,
      'req_body': $sf_json_stringify(req_body),
      'direct': a_direct.join(';')
    }

    if ('function' == typeof(bstapi_fn_popup)) {
      bstapi_fn_popup(test_param);
    }
  }

  function fn_make_payload(direct, sel_rec) {
    var o_payload = null;
    if ('sysDply' == direct) {
      o_payload = {
        'dplyDt': $sf_obj_val(sel_rec, 'dplyDt'),
        'dplyType': $sf_obj_val(sel_rec, 'dplyType'),
        'sysId': $sf_obj_val(sel_rec, 'sysId'),
        'sysNm': $sf_obj_val(sel_rec, 'sysNm'),
        'sysCd': $sf_obj_val(sel_rec, 'sysCd'),
        'apiLinkCd': $sf_obj_val(sel_rec, 'apiLinkCd'),
        'edpt': {
          'prot': $sf_obj_val(sel_rec, 'edptProt'),
        }
      };
      var edptProt = $sf_obj_val(sel_rec, 'edptProt');
      if (('HTTP' == edptProt) || ('HTTPS' == edptProt)) {
        o_payload['edpt']['atrib'] = {
          'url': $sf_obj_val(sel_rec, 'edptAtribUrl')
        };
        if (!$is_empty(o_payload['edpt']['atrib']['url'])) { o_payload['edpt']['atrib']['url'] = $sf_str(o_payload['edpt']['atrib']['url']).split(';'); }
        else { o_payload['edpt']['atrib']['url'] = []; }
      }
      if ('CLOSEABLE' == edptProt) {
        o_payload['edpt']['atrib'] = {
          'url': $sf_obj_val(sel_rec, 'edptAtribUrl')
        };
        if (!$is_empty(o_payload['edpt']['atrib']['url'])) { o_payload['edpt']['atrib']['url'] = $sf_str(o_payload['edpt']['atrib']['url']).split(';'); }
        else { o_payload['edpt']['atrib']['url'] = []; }
      }
      if ('MTLS' == edptProt) {
        o_payload['edpt']['atrib'] = {
          'url': $sf_obj_val(sel_rec, 'edptAtribUrl'),
          'certi': $sf_obj_val(sel_rec, 'edptAtribCerti'),
          'certiKey': $sf_obj_val(sel_rec, 'edptAtribCertiKey')
        };
        if (!$is_empty(o_payload['edpt']['atrib']['url'])) { o_payload['edpt']['atrib']['url'] = $sf_str(o_payload['edpt']['atrib']['url']).split(';'); }
        else { o_payload['edpt']['atrib']['url'] = []; }
      }
      if ('SOCKET' == edptProt) {
        o_payload['edpt']['atrib'] = {
          'ecod': $sf_obj_val(sel_rec, 'edptAtribEcod'),
          'addr': $sf_obj_val(sel_rec, 'edptAtribAddr'),
          'minpool': $sf_obj_val(sel_rec, 'edptAtribMinPool'),
          'maxpool': $sf_obj_val(sel_rec, 'edptAtribMaxPool')
        };
        if (!$is_empty(o_payload['edpt']['atrib']['addr'])) { o_payload['edpt']['atrib']['addr'] = $sf_str(o_payload['edpt']['atrib']['addr']).split(';'); }
        else { o_payload['edpt']['atrib']['addr'] = []; }
        if ($is_integer(o_payload['edpt']['atrib']['minpool'])) { o_payload['edpt']['atrib']['minpool'] = $sf_int(o_payload['edpt']['atrib']['minpool']); }
        else { delete o_payload['edpt']['atrib']['minpool']; }
        if ($is_integer(o_payload['edpt']['atrib']['maxpool'])) { o_payload['edpt']['atrib']['maxpool'] = $sf_int(o_payload['edpt']['atrib']['maxpool']); }
        else { delete o_payload['edpt']['atrib']['maxpool']; }
      }
    }
    return o_payload;
  }
</script>
<script type="text/javascript">
  var g_a_item_key = [];  //-- export item key
  var g_a_def_item_key = [
    'DPLY_DT',
    'DPLY_TYPE',
    'SYS_ID',
    'SYS_NM',
    'SYS_CD',
    'API_LINK_CD',
    'EDPT_PROT',
    'EDPT_ATRIB_URL',
    'EDPT_ATRIB_CERTI',
    'EDPT_ATRIB_CERTI_KEY',
    'EDPT_ATRIB_ECOD',
    'EDPT_ATRIB_ADDR',
    'EDPT_ATRIB_MIN_POOL',
    'EDPT_ATRIB_MAX_POOL',
    'KOA_SYS_ID',
    'UDATE',
    'RDATE',
  ];

  //-- export대상 항목
  var g_o_exp_item_data = {
    'DPLY_DT'              :' 배포 일자',
    'DPLY_TYPE'            :' 배포 유형',
    'SYS_ID'               :' 시스템 ID(BEAST)',
    'SYS_NM'               :' 시스템 명',
    'SYS_CD'               :' 시스템 코드',
    'API_LINK_CD'          :' API Link 코드',
    'EDPT_PROT'            :' 앤드포인트-프로토콜',
    'EDPT_ATRIB_URL'       :' 앤드포인트-URL',
    'EDPT_ATRIB_CERTI'     :' 앤드포인트-인증서',
    'EDPT_ATRIB_CERTI_KEY' :' 앤드포인트-인증서 키',
    'EDPT_ATRIB_ECOD'      :' 앤드포인트-인코딩',
    'EDPT_ATRIB_ADDR'      :' 앤드포인트-IP/포트 리스트',
    'EDPT_ATRIB_MIN_POOL'  :' 앤드포인트-최소 풀 사이즈',
    'EDPT_ATRIB_MAX_POOL'  :' 앤드포인트-최대 풀 사이즈',
    'KOA_SYS_ID'           :' 시스템 ID(KOA)',
    'UDATE'                :' 최종수정일',
    'RDATE'                :' 최초작성일',
  };

  //-- 엑셀저장
  function fn_excel() {
    if (g_a_item_key.length == 0) { alert_message('출력항목 설정이 없습니다.'); return; }
    var a_data = xlsexp_fn_get_export_data(g_a_item_key);
    if (a_data.length == 0) { alert_message('대상 정보가 없습니다.'); return; }

    if (!confirm('엑셀파일을 저장 하시겠습니까?')) { return; }

    var excel_cfg = {
      filename: 'export_' + $fn_fmt_date('fmt_ymd', (new Date())) + '_' + $fn_fmt_date('fmt_hms', (new Date())),
      format: 'xlsx',   //-- 'xlsx'/'xls'/'csv'
      sheet_name: $fn_fmt_date('fmt_ymdhms_kor', (new Date())),
      sheet_data: a_data,
    };
    gfn_ExcelExport(excel_cfg);
  }
</script>

<div id="container">
  <div class="sVisual sv_regiapi">
    <div>
      <h2>BEAST - 시스템 정보<span th:text="${dp_target_text}"></span></h2>
      <p>BEAST 솔루션의 시스템 정보를 관리 합니다</p>
    </div>
  </div>
  <div class="contents">
    <div class="conBox">
      <div class="pg_location"><a href="javascript:void(0);">Go home</a> <span>></span> BEAST 관리</div>

      <div id="content">

        <h5 class="rTitleOneDep">시스템 정보<span th:text="${dp_target_text}"></span> 관리</h5>

        <div class="date_setting">
          <div class="searching_wrap">
            <div class="select_form ">
              <span class="pr10">시스템 ID</span>
              <span class="input_txt wx140"><input class="cid_enter_search" type="text" id="id_q_sys_id"></span>
              <span class="pr10 pl10">시스템 명</span>
              <span class="input_txt wx140"><input class="cid_enter_search" type="text" id="id_q_sys_nm"></span>
              <span class="pl10 pr10">유형</span>
              <span class="pr10">
                <select class="cid_input cid_enter_search" id="id_q_dply_type">
                  <option value="">전체</option>
                  <option value="DPLY">DPLY</option>
                  <option value="DEL">DEL</option>
                </select>
              </span>
              <button type="button" class="btn-lg btn_searching cid_btn_search"><span>검색</span></button>

              <div class="btn_block_right">
                <span class="cid_btn_bst_api_test_direct cid_api_get_list"><button type="button" class="btn btn_sml btn_lightGray"><span>SYS-GET-list</span></button></span>
                <span><button type="button" class="btn btn_sml btn_lightGray cid_btn_bst_api_test cid_api_get_item"><span>SYS-GET-item</span></button></span>
<th:block th:if="${bIsBstgwManager}">
                <span class="cid_btn_bst_api_test_direct cid_api_post"><button type="button" class="btn btn_sml btn_lightGray"><span>SYS-POST</span></button></span>
</th:block>
              </div><!-- .btn_block_right -->
            </div><!-- .select_form -->
          </div><!-- .searching_wrap -->
        </div><!-- .date_setting -->

        <div class="btn_set-right">
          <a href="javascript:void(0);"><input type="checkbox" id="id_chk_listall" name="usePagination" title="모두보기"><label for="id_chk_listall" ><span></span>모두보기</label></a>
        </div>

        <div class="btn_set-right cid_btn_line">
          <p class="list_count">전체: <span class="cid_tot_rec_cnt">-</span> 건</p>

<th:block th:if="${bIsBstgwManager}">
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_create()"><span>등록</span></button>
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_update()"><span>수정</span></button>
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_delete()"><span>삭제</span></button>
</th:block>
<th:block th:unless="${bIsBstgwManager}">
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_view()"><span>조회</span></button>
</th:block>
          <span class="wx53" style="display:inline-block"></span>
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_excel()"><span>엑셀저장</span></button>
          <button type="button" class="btn btn_sml2 btn_black" onclick="xlsexp_fn_export_item('popup')"><span>항목설정</span></button>
        </div><!-- .btn_set-right.cid_btn_line -->

        <div class="pkg_board">
          <table class="table-list cid_item_list">
            <caption>BEAST 시스템 list</caption>
            <colgroup>
              <col style="width:40px" />
              <col style="width:60px" />
              <col style="width:220px" />
              <col style="width:auto">
              <col style="width:100px" />
              <col style="width:110px" />
              <col style="width:80px" />
              <col style="width:80px" />
              <col style="width:110px" />
            </colgroup>
            <thead>
              <tr>
                <th scope="col">선택</th>
                <th scope="col">#</th>
                <th scope="col">시스템 ID</th>
                <th scope="col">시스템 명</th>
                <th scope="col">시스템 CD</th>
                <th scope="col">배포 일자</th>
                <th scope="col">배포 유형</th>
                <th scope="col">KOA<br/>시스템 ID</th>
                <th scope="col">수정일</th>
              </tr>
            </thead>
            <tbody class="td_thin"></tbody>
          </table><!-- .table-list -->

          <div class="paging" id="id_list_paging"></div><!-- #paging.paging -->

        </div><!-- .pkg_board -->

        <div class="btn_set-right cid_btn_line"></div><!-- .btn_set-right.cid_btn_line -->

      </div><!-- .content -->

    </div><!-- .conBox -->
  </div><!-- .contents -->
</div><!-- #container -->

<!-- 정보edit -->
<div id="id_popup_edit" class="dp_none">
  <div class="popup_content mb0">
    <div class="pkg_board">

      <table class="table-vw2">
        <caption>정보edit Table</caption>
        <colgroup>
          <col style="width:12%" />
          <col style="width:21%" />
          <col style="width:12%" />
          <col style="width:21%" />
          <col style="width:12%" />
          <col style="width:22%" />
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">시스템 ID</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_sys_id" title="SYS_ID" maxlength="50"></span>
            </td>
            <th scope="row">배포 일자</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_dply_dt" title="DPLY_DT" maxlength="30" placeholder="yyyy-MM-ddTHH:mm:ss"></span>
            </td>
            <th scope="row">
                        배포 유형
              <div class="cid_ui_mode cid_ui_mode_update">
                <a href="javascript:void(0);" onclick="$('#id_popup_edit .cid_txt_dply_type').val('DPLY');">[DPLY]</a><a href="javascript:void(0);" onclick="$('#id_popup_edit .cid_txt_dply_type').val('DEL');">[DEL]</a>
              </div>
           </th>
            <td>
              <span><input type="text" class="cid_input cid_txt_dply_type" title="DPLY_TYPE" maxlength="10"></span>
            </td>
          </tr>
          <tr>
            <th scope="row">시스템 명</th>
            <td colspan="5">
              <span><input type="text" class="cid_input cid_txt_sys_nm" title="SYS_NM" maxlength="50"></span>
            </td>
          </tr>
          <tr>
            <th scope="row">시스템 코드</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_sys_cd" title="SYS_CD" maxlength="50"></span>
            </td>
            <th scope="row">API Link 코드</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_api_link_cd" title="API_LINK_CD" maxlength="50"></span>
            </td>
            <th scope="row">Studio ID</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_koa_sys_id" title="KOA_SYS_ID" maxlength="10"></span>
            </td>
          </tr>
          <tr>
            <th scope="row">앤드포인트<br/>프로토콜</th>
            <td colspan="5">
              <span>
                <select class="cid_input cid_sel_edpt_prot" title="EDPT_PROT" maxlength="20">
                  <option value="HTTP">HTTP</option>
                  <option value="HTTPS">HTTPS</option>
                  <option value="CLOSEABLE">CLOSEABLE</option>
                  <option value="MTLS">MTLS</option>
                  <option value="SOCKET">SOCKET</option>
                  <option value="NONE">NONE</option>
                </select>
              </span>
            </td>
          </tr>
          <tr class="cid_opt_edpt_prot cid_opt_edpt_prot_http cid_opt_edpt_prot_https cid_opt_edpt_prot_closeable cid_opt_edpt_prot_mtls">
            <th scope="row">앤드포인트<br/>URL</th>
            <td colspan="5">
              <span><input type="text" class="cid_input cid_txt_edpt_atrib_url" title="EDPT_ATRIB_URL" maxlength="3000" placeholder="Array(';'구분)"></span>
            </td>
          </tr>
          <tr class="cid_opt_edpt_prot cid_opt_edpt_prot_mtls">
            <th scope="row">앤드포인트<br/>인증서</th>
            <td colspan="5">
              <span><input type="text" class="cid_input cid_input cid_txt_edpt_atrib_certi" title="EDPT_ATRIB_CERTI"></span>
            </td>
          </tr>
          <tr class="cid_opt_edpt_prot cid_opt_edpt_prot_mtls">
            <th scope="row">앤드포인트<br/>인증서키</th>
            <td colspan="5">
              <span><input type="text" class="cid_input cid_input cid_txt_edpt_atrib_certi_key" title="EDPT_ATRIB_CERTI_KEY"></span>
            </td>
          </tr>
          <tr class="cid_opt_edpt_prot cid_opt_edpt_prot_socket">
            <th scope="row">앤드포인트<br/>IP/포트목록</th>
            <td colspan="5">
              <span><input type="text" class="cid_input cid_txt_edpt_atrib_addr" title="EDPT_ATRIB_ADDR" maxlength="3000" placeholder="Array(';'구분)"></span>
            </td>
          </tr>
          <tr class="cid_opt_edpt_prot cid_opt_edpt_prot_socket">
            <th scope="row">앤드포인트<br/>인코딩</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_edpt_atrib_ecod" title="EDPT_ATRIB_ECOD" maxlength="30"></span>
            </td>
            <th scope="row">앤드포인트<br/>최소풀사이즈</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_edpt_atrib_min_pool" title="EDPT_ATRIB_MIN_POOL" maxlength="30" placeholder="숫자"></span>
            </td>
            <th scope="row">앤드포인트<br/>최대풀사이즈</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_edpt_atrib_max_pool" title="EDPT_ATRIB_MAX_POOL" maxlength="30" placeholder="숫자"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- .pkg_board -->

    <div class="lPop_bottom brd_tp mt10 cid_ui_mode cid_ui_mode_insert">
      <button type="button" title="등록" class="btn btn_sml2 btn_black" onclick="fn_edit_proc('insert')">등록</button>
      <button type="button" title="취소" class="btn btn_sml2 btn_cancel">취소</button>
      <button type="button" class="btn btn_sml btn_lightGray cid_btn_bst_api_test cid_api_post cid_direct_dplytype_dply"><span>SYS-POST-dply</span></button>
      <button type="button" class="btn btn_sml btn_lightGray cid_btn_bst_api_test cid_api_get_item"><span>SYS-GET-item</span></button>

      <button type="button" title="dev_test" class="btn btn_white" onclick="fn_edit_proc('dev_test')">dev_test</button>
    </div>

    <div class="lPop_bottom brd_tp mt10 cid_ui_mode cid_ui_mode_update">
      <input type="hidden" class="cid_txt_status_group_no">
      <button type="button" title="수정" class="btn btn_sml2 btn_black" onclick="fn_edit_proc('update')">수정</button>
      <button type="button" title="취소" class="btn btn_sml2 btn_cancel">취소</button>

      <!-- <button type="button" title="dev_api_send" class="btn btn_white" onclick="fn_edit_proc('dev_api_send')">dev_api_send</button> -->
    </div><!-- .pkg_board -->

    <div class="lPop_bottom brd_tp mt10 cid_ui_mode cid_ui_mode_view">
      <button type="button" title="확인" class="btn btn_sml2 btn_black btn_cancel">확인</button>
    </div><!-- .pkg_board -->

  </div><!-- .popup_content mb0 -->
</div><!-- #id_popup_edit -->

<!-- 정보조회 -->
<div id="id_popup_itemview" class="dp_none">
  <div class="popup_content mb0">
    <div class="pkg_board scroll_box">

      <table class="table-vw2">
        <caption>정보 view Table</caption>
        <colgroup>
          <col style="width:25%" />
          <col style="width:auto" />
        </colgroup>
        <tbody>
          <tr><th scope="row"><!-- title --></th><td><!-- value --></td></tr>
        </tbody>
      </table>

    </div><!-- .pkg_board -->

    <div class="lPop_bottom brd_tp mt10">
      <button type="button" class="btn btn_black btn_cancel">확인</button>
    </div>

  </div><!-- .popup_content mb0 -->
</div><!-- #id_popup_itemview -->

<th:block th:replace="~{beast/inc/beastApiTest_inc :: beastApiTest_inc}"></th:block>

<th:block th:replace="~{beast/inc/excelExport_inc :: excelExport_inc}"></th:block>
</div>
</body>
</html>
