<!DOCTYPE html>
<!--/* beast/apigwmng/bstAdmApiLinkDataList.jsp -> Thymeleaf 변환.
     bIsBstgwManager는 CommonFunc.isSpecificUser()가 static 메소드이므로 T(...) SpEL로 직접 호출
     (beastApiTest_inc.html에서 이미 확립한 패턴과 동일). dp_target_text는 attr_target 기반 계산. */-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default(layoutType='beast', bodyClass=null)}">
<head>
    <title>KT Open API</title>
</head>
<body>
<div layout:fragment="content"
     th:with="bIsBstgwManager=${T(com.kt.openapi.web.util.CommonFunc).isSpecificUser('bstgw.manager')},
              dp_target_text=${'(' + attr_target + ')'}">
<!-- //-- [tag:PRJ-20220901] -->
<script th:inline="javascript">
  var g_data = Object.assign((g_data||{}), {
    'usePagination': 'y',
    'pageUnit': 20,
    'pageSize': 10,
    'expItemKey': 'exp_item_key_bstAdmApiLinkDataList',
    'target': (/*[[${attr_target != null ? attr_target : ''}]]*/ '').toUpperCase(),
	'azureYn': ''
  });

  $(document).ready(function() {
    fn_init_handler();
    fn_init_dialog();
    fn_init_page();
	localStorage.removeItem(g_data['expItemKey']);
  });
  function fn_init_handler() {
    $('.cid_btn_search').on('click', function(p_evt) {
      p_evt.preventDefault();
      fn_query_list(1, 'manual');
    });

    $('.cid_enter_search').on('keypress', function(p_evt) {
      if (p_evt.keyCode == 13) {
        p_evt.preventDefault();	$('.cid_btn_search').trigger('click');
      }
    });

    $('#id_chk_listall').on('click', function(p_evt) {
      var use_yn = ($(this).prop('checked') ? 'n' : 'y');
      ui_use_pagination(use_yn);
    });

    $('#id_popup_edit .cid_sel_edpt_prot').on('click change', function(p_evt) {
      var prot = $sf_str($(this).val()).toLowerCase();
      var jq_dialog = $('#id_popup_edit');
      jq_dialog.find('.cid_opt_edpt_prot').hide();
      jq_dialog.find('.cid_opt_edpt_prot_' + prot).show();
    });

    $('.cid_btn_bst_api_test_direct').on('mouseover', function(p_evt) {
      if ($(this).is('.cid_aldt_cud')) {
        var jq_target = $(this);
        var jq_direct = jq_target.find('.cid_bst_api_test_direct');
        if (jq_direct.length == 0) {
          jq_target.css({'position':'relative'});
          jq_direct = $('<div class="p10 cid_bst_api_test_direct" onmouseleave="$(this).hide();" style="display:flex;position:absolute;top:30px;left:0px;z-index:999;background:lightgrey;border-radius:10px;"></div>');
          jq_direct.append($('<span><button type="button" class="mr10 pl05 pr05 btn btn_sml btn_lightGray cid_btn_bst_api_test cid_aldt_cud cid_direct cid_direct_aldt_cud_upd"><span>UPD</span></button></span>'));
          jq_direct.append($('<span><button type="button" class="mr10 pl05 pr05 btn btn_sml btn_lightGray cid_btn_bst_api_test cid_aldt_cud cid_direct cid_direct_aldt_cud_del"><span>DEL</span></button></span>'));
          jq_target.append(jq_direct);
        }
        else {
          jq_direct.show();
        }
      }
    });
    $('.cid_btn_bst_api_test_direct').on('mouseleave', function(p_evt) {
      $('.cid_bst_api_test_direct').hide();
    });

    $(document).on('click', '.cid_btn_bst_api_test', function(p_evt) {
      p_evt.preventDefault();
      var api_dir = '';
      api_dir = ($(this).is('.cid_aldt_get_list') ? 'aldt-get-list' : api_dir);
      api_dir = ($(this).is('.cid_aldt_get_item') ? 'aldt-get' : api_dir);
      api_dir = ($(this).is('.cid_aldt_cud.cid_direct_aldt_cud_ins') ? 'aldt-ins' : api_dir);
      api_dir = ($(this).is('.cid_aldt_cud.cid_direct_aldt_cud_upd') ? 'aldt-upd' : api_dir);
      api_dir = ($(this).is('.cid_aldt_cud.cid_direct_aldt_cud_del') ? 'aldt-del' : api_dir);

      fn_beast_api_test(api_dir);
    });
  }

  function fn_init_dialog() {
    $('#id_popup_edit').dialog({
      autoOpen: false, width: 1080, modal: true,
    });
    $('#id_popup_edit').find('.btn.btn_cancel').click(function(p_evt) {
      p_evt.preventDefault();
      $('#id_popup_edit').dialog('close');
    });
    $('#id_popup_itemview').dialog({
      autoOpen: false, width: 800, modal: true,
    });
    $('#id_popup_itemview').find('.btn.btn_cancel').click(function(p_evt) {
      p_evt.preventDefault();
      $('#id_popup_itemview').dialog('close');
    });
  }
  function fn_init_page() {
    if ('y' != g_data['usePagination']) { $('#id_list_paging').hide(); }
    //-- [i]상단버튼 하단복사
    $('.cid_btn_line').eq(1).append($('.cid_btn_line').eq(0).clone());

    fn_query_list();
  }

  function ui_use_pagination(use_yn) {
    g_data['usePagination'] = ((use_yn != 'y') ? 'n' : 'y');
    var is_listall = ('y' != g_data['usePagination']);
    if (is_listall) {
      $('#id_list_paging').hide();
    }
    else {
      $('#id_list_paging').show();
    }
    $('#id_chk_listall').prop('checked', is_listall);
  }

  //-- #id_popup_edit popup input clear
  function ui_popup_edit_clear() {
    $('#id_popup_edit').find('.cid_input').val('');
  }

  //-- jquer-ui dialog title 설정
  function ui_popup_set_title(s_popup_id, s_title) {
    $('#' + s_popup_id).siblings('.ui-dialog-titlebar').find('span.ui-dialog-title').text(s_title);
  }

  //-- 선택 정보 edit popup
  function fn_create() {
    fn_edit('insert', {});
  }

  function fn_update() {
    var jq_rdo_rec = $('input[name="rdo_rec"]:checked');
    if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
    var sel_rec = jq_rdo_rec.closest('tr').data('rec');
    fn_edit('update', sel_rec);
  }

  function fn_view() {
    var jq_rdo_rec = $('input[name="rdo_rec"]:checked');
    if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
    var sel_rec = jq_rdo_rec.closest('tr').data('rec');
    fn_edit('view', sel_rec);
  }

  function fn_edit(s_mode, sel_rec) {
    var jq_dialog = $('#id_popup_edit');

    ui_popup_edit_clear();

    //-- mode에 따른 화면설정
    jq_dialog.find('.cid_ui_mode').hide();
    //-- key field dis/enable
    var is_readonly = true;
    var is_readonly = ('insert' != s_mode);
    jq_dialog.find('.cid_sel_aldt_type').prop('disabled', is_readonly);
    jq_dialog.find('.cid_txt_aldt_key').prop('readonly', is_readonly);

    if ('insert' == s_mode) {
      ui_popup_set_title('id_popup_edit', 'API Link Data 정보' + /*[[${dp_target_text}]]*/ '' + '등록');
      jq_dialog.find('.cid_ui_mode_insert').show();

      jq_dialog.find('.cid_txt_dply_dt').val($fn_fmt_date('fmt_ymd', (new Date()), '-') + 'T' + $fn_fmt_date('fmt_hms', (new Date()), ':') + '.000');

      jq_dialog.find('.cid_sel_edpt_prot').trigger('click');
    }
    else if (('update' == s_mode) || ('view' == s_mode)) {
      if ('update' == s_mode) {
        ui_popup_set_title('id_popup_edit', 'API Link Data 정보' + /*[[${dp_target_text}]]*/ '' + ' 수정');
        jq_dialog.find('.cid_ui_mode_update').show();
      }
      else {
        ui_popup_set_title('id_popup_edit', 'API Link Data 정보' + /*[[${dp_target_text}]]*/ '' + ' 조회');
        jq_dialog.find('.cid_ui_mode_view').show();
      }

      jq_dialog.find('.cid_txt_dply_dt'             ).val(sel_rec['dplyDt']);
      jq_dialog.find('.cid_sel_aldt_type'           ).val(sel_rec['aldtType']);
      jq_dialog.find('.cid_txt_aldt_key'            ).val(sel_rec['aldtKey']);
      jq_dialog.find('.cid_txt_aldt_value'          ).val(sel_rec['aldtValue']);
      jq_dialog.find('.cid_txt_src_tag'             ).val(sel_rec['srcTag']);
      jq_dialog.find('.cid_txt_src_key'             ).val(sel_rec['srcKey']);
      jq_dialog.find('.cid_txt_def_api_no'          ).val(sel_rec['defApiNo']);
    }

    jq_dialog.dialog('open');
  }

  function fn_delete() {
    var jq_rdo_rec = $('input[name="rdo_rec"]:checked');
    if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
    var sel_rec = jq_rdo_rec.closest('tr').data('rec');

    if (!confirm('선택된 정보를 삭제 하시겠습니까?')) { return; }

    var rec = { 'seq': sel_rec['seq'] };
    if (true == $is_empty(rec['seq'])) { alert_message('[err][seq 설정없음]'); return; };
    if (false == $is_positive_number(rec['seq'])) { alert_message('[err][seq 형식오류]'); return; };

    proc_item('delete', rec);
  }

  //-- 수정저장
  function fn_edit_proc(s_mode) {
    var jq_dialog = $('#id_popup_edit');

    if ('dev_api_send' == s_mode) {
      var param = new Object();
      param['cmd'] = 'cmd_api_send';
      param['api_target'] = '';
      param['api_domain'] = 'http://127.0.0.1:19080/apidev/beast';
      param['api_url'] = '/apilink/v1/data/getApiLinkDataList';
      param['api_method'] = 'GET';
      param['api_body'] = JSON.stringify(param);

      $.ajax({
        type: 'POST',
        url: /*[[@{/beast/api/common/ajax_proc.do}]]*/ '/beast/api/common/ajax_proc.do' + '?cmd=' + param['cmd'],
        data: JSON.stringify(param),
        contentType: 'application/json',
        dataType: 'JSON',
        async: false,
        success: function(data) {
          var s_json = $sf_json_stringify(data);
          alert_message(s_json);
          $console_log('o-o', 'data: ', data);
        },
        error: function(request, status, error) {
	        //--@@console.log('code: ' + request.status + '\n' + 'error: ' + error);
        }
      });
      return;
    }

    if ('dev_test' == s_mode) {
      jq_dialog.find('.cid_txt_dply_dt'             ).val($fn_fmt_date('fmt_ymd', (new Date()), '-') + 'T' + $fn_fmt_date('fmt_hms', (new Date()), ':') + '.000');
      jq_dialog.find('.cid_sel_aldt_type'           ).val('PARAM');
      jq_dialog.find('.cid_txt_aldt_key'            ).val('GRID1901311043cT');
      jq_dialog.find('.cid_txt_aldt_value'          ).val('{ "airqStnInfo" : "/transactionid,/sequenceno,/returncode,/returndescription,/data/airSensorCode,/data/airSensorName,/data/ccomTypeCode,/data/airSensorAddress,/data/deviceDivisionCode,/data/airSensorGubun,/data/ccomSeq", "airqAvgVal" : "/transactionid,/sequenceno,/returncode,/returndescription,/data/airSensorCode,/data/pm10Avg,/data/pm10Grade,/data/pm25Avg,/data/pm25Grade,/data/temperatureAvg,/data/humidityAvg,/data/noiseAvg,/data/so2Value,/data/so2Grade,/data/coValue,/coGrade,/data/o3Value,/data/o3Grade,/data/no2Value,/data/no2Grade,/data/khaiValue,/data/khaiGrade,/data/airSensorName,/data/airSensorAddress,/data/deviceDivisionCode,/data/airSensorGubun,/data/airSensingDate"}');
      jq_dialog.find('.cid_txt_src_tag'             ).val('APILINK');
      jq_dialog.find('.cid_txt_src_key'             ).val('');
      jq_dialog.find('.cid_txt_def_api_no'          ).val('12345');

      return;
    }

    var rec = {};

    rec['dplyDt'] = $sf_str(jq_dialog.find('.cid_txt_dply_dt').val());
    rec['aldtType'] = $sf_str(jq_dialog.find('.cid_sel_aldt_type').val());
    rec['aldtKey'] = $sf_str(jq_dialog.find('.cid_txt_aldt_key').val());
    rec['aldtValue'] = $sf_str(jq_dialog.find('.cid_txt_aldt_value').val());
    rec['srcTag'] = $sf_str(jq_dialog.find('.cid_txt_src_tag').val());
    rec['srcKey'] = $sf_str(jq_dialog.find('.cid_txt_src_key').val());
    rec['defApiNo'] = $sf_str(jq_dialog.find('.cid_txt_def_api_no').val());

    if (true == $is_empty(rec['dplyDt'])) { alert_message('[err][dplyDt 입력없음]'); return false; };
    if (true == $is_empty(rec['aldtType'])) { alert_message('[err][aldtType 입력없음]'); return false; };
    if (true == $is_empty(rec['aldtKey'])) { alert_message('[err][aldtKey 입력없음]'); return false; };
    if (true == $is_empty(rec['aldtValue'])) { alert_message('[err][aldtValue 입력없음]'); return false; };

    //-- [i][null field type check]
    if (!$is_empty(rec['defApiNo']) && !$is_number(rec['defApiNo'])) { alert_message('[err][defApiNo 형식오류]'); return false; }


    if ('get_item' == s_mode) {
      return rec;
    }

    if ('insert' == s_mode) {
      var o_item = fn_query_item({'aldtType': rec['aldtType'], 'aldtKey': rec['aldtKey'] });
      var s_msg = '';
      if (null == o_item) {
        s_msg = '중복검색 오류';
      }
      else {
        var fv_aldtType = $sf_obj_val(o_item, 'aldtType');
        var fv_aldtKey = $sf_obj_val(o_item, 'aldtKey');
        if ((fv_aldtType == rec['aldtType']) && (fv_aldtKey == rec['aldtKey'])) {
          s_msg = '[err][aldtType + aldtKey 중복값]';
        }
      }
      if (s_msg.length > 0) { alert_message(s_msg); return; }
    }

    proc_item(s_mode, rec);

    jq_dialog.dialog('close');
  }

  //-- 정보처리
  function proc_item(s_mode, rec) {
    var param = new Object();
    param['cmd'] = 'cmd_db_tran';
    param['target'] = g_data['target'];
    param['mode'] = s_mode;
    if ('insert' == s_mode) {
      param['rec'] = rec;
    }
    else if ('update' == s_mode) {
      param['rec'] = rec;
    }
    else if ('delete' == s_mode) {
      param['rec'] = rec;
    }
    else {
      return;
    }
    $.ajax({
      type: 'POST',
      url: /*[[@{/beast/api/bstAdmApiLinkData/ajax_proc.do}]]*/ '/beast/api/bstAdmApiLinkData/ajax_proc.do' + '?cmd=' + param['cmd'],
      data: JSON.stringify(param),
      contentType: 'application/json',
      dataType: 'JSON',
      async: false,
      success: function(data) {
        var b_is_valid_data = $has_own(data, 'returnCd');
        b_is_valid_data &= $has_own(data, 'returnMsg');
        if (!b_is_valid_data) { alert_message('유효하지 않은 처리 결과 입니다.');  return; }

        var returnCd = $sf_obj_val(data, 'returnCd');
        var returnMsg = $sf_obj_val(data, 'returnMsg');
        var result = $sf_obj_val(data, 'result', '#N/A#');
        var s_msg = '';
        if ('OK' == returnCd) {
          s_msg = '처리 되었습니다.';
          s_msg += '\n\n[result: ' + result + ']';
          fn_query_list();
        }
        else {
          s_msg = '[err][returnCd: ' + returnCd + ']\n[returnMsg: ' + returnMsg + ']';
        }
        if (s_msg.length > 0) {
          window.setTimeout(function() { alert_message(s_msg); }, 100);
        }
      },
      error: function(request, status, error) {
	      //--@@console.log('code: ' + request.status + '\n' + 'error: ' + error);
      }
    });
  }

  //-- 정보 view popup
  function fn_itemview(sel_rec) {
    var jq_dialog = $('#id_popup_itemview');

    var s_title = '정보 조회-[seq: ' + sel_rec['seq'] + '][aldtType: ' + sel_rec['aldtType'] + '][aldtKey: ' + sel_rec['aldtKey'] + ']';
    ui_popup_set_title('id_popup_itemview', s_title);

    var jq_tbody = jq_dialog.find('table > tbody');
    jq_tbody.empty();
    var a_item_key = $sf_arr(g_a_item_key, []);
    $.each(a_item_key, function(sub_idx, sub_item) {
      if ($has_own(sel_rec, sub_item) == true) {
        var s_tit = fn_get_export_item_title(sub_item);
        if (s_tit.length > 0) {
          var s_val = sel_rec[sub_item];
          jq_tbody.append('<tr><th scope="row">' + s_tit + '</th><td>' + s_val + '</td></tr>');
        }
      }
    });
    jq_dialog.dialog('open');
    jq_dialog.find('.scroll_box').scrollTop(0);
  }
</script>
<script th:inline="javascript">
  //-- 페이징 조회
  function pageGo(pageIndex) {
    fn_query_list(pageIndex, 'manual');
  }
  //-- list 검색
  function fn_query_list(pageIndex, s_cmd) {
    var param = new Object();
    param['cmd'] = 'cmd_db_list';
    param['target'] = g_data['target'];
    param['usePagination'] = g_data['usePagination'];
    param['pageUnit'] = g_data['pageUnit'];
    param['pageSize'] = g_data['pageSize'];
    param['pageIndex'] = $sf_int(pageIndex, 1);

    param['aldtType'] = $('#id_q_aldt_type').val();
    param['aldtKey'] = $('#id_q_aldt_key').val();
    param['srcTag'] = $('#id_q_src_tag').val();
    param['dplyType'] = $('#id_q_dply_type').val();

    //--##alert_message( JSON.stringify(param) );
    var s_msg = '';
    //--##if (param['aldtType'].length == 0) { s_msg = '정보-유형 항목을 선택하세요.'; }
    //--##if (param['aldtKey'].length == 0) { s_msg = '정보-키 항목을 입력하세요.'; }

    if (s_msg.length > 0) {
      (('manual' == s_cmd) ? alert_message(s_msg) : void(0))
      return;
    }

    var fn_beforeSend = (function(xhr) {
      (('function' == typeof($.ajaxSetup()['beforeSend'])) && ($.ajaxSetup()['beforeSend'])(xhr));
      ui_init_list();
      ui_display_message_list('검색중 입니다...');
      $('.cid_tot_rec_cnt').text('-');
    });
    var fn_error = (function(request, status, error) {
      ui_display_message_list('');
      alert_message('status: ' + request.status + '\n' + 'error: ' + error);
    });
    var fn_success = (function(data, textStatus, request) {
      ui_display_message_list('');
      var b_is_valid_data = (($has_own(data, 'nlist') == true) && ($has_own(data, 'paginationInfo') == true));
      var nlist = [];
      var paginationInfo = {};
      if (true == b_is_valid_data) {
        nlist = data['nlist'];
        paginationInfo = data['paginationInfo'];
        b_is_valid_data = ((Array.isArray(nlist) == true) && (typeof(paginationInfo) == 'object'));
      }
      if (true == b_is_valid_data) {
        var s_msg = ((nlist.length == 0) ? '검색 결과가 없습니다.' : '');
        ui_display_list(nlist, paginationInfo, s_msg);
        var tot_rec_cnt = $sf_int($sf_obj_val(paginationInfo, 'totalRecordCount'));
        $('.cid_tot_rec_cnt').text(tot_rec_cnt);
      }
      else {
        alert_message('유효하지 않은 검색 결과 입니다.');
      }
    });
    $.ajax({
      url: /*[[@{/beast/api/bstAdmApiLinkData/ajax_query.do}]]*/ '/beast/api/bstAdmApiLinkData/ajax_query.do' + '?cmd=' + param['cmd'],
      type: 'POST',
      data :param,
      beforeSend: fn_beforeSend,
      success: fn_success,
      error: fn_error,
    });
  }

  //-- item 검색
  function fn_query_item(o_param) {
    o_param = $sf_obj(o_param);
    var param = new Object();
    param['cmd'] = 'cmd_db_item';
    param['target'] = g_data['target'];
    param = Object.assign(param, $sf_obj(o_param));

    var o_item = null;

    var fn_error = (function(request, status, error) {
      ui_display_message_list('');
      alert_message('status: ' + request.status + '\n' + 'error: ' + error);
    });
    var fn_success = (function(data, textStatus, request) {
      ui_display_message_list('');
      var b_is_valid_data = ($has_own(data, 'nlist') == true);
      var nlist = [];
      if (true == b_is_valid_data) {
        nlist = data['nlist'];
        b_is_valid_data = (Array.isArray(nlist) == true);
      }
      if (true == b_is_valid_data) {
        o_item = ((nlist.length > 0) ? nlist[0] : {});
      }
    });
    $.ajax({
      url: /*[[@{/beast/api/bstAdmApiLinkData/ajax_query.do}]]*/ '/beast/api/bstAdmApiLinkData/ajax_query.do' + '?cmd=' + param['cmd'],
      type: 'POST',
      data :param,
      async: false,
      success: fn_success,
      error: fn_error,
    });

    return o_item;
  }

  function ui_init_list() {
    //-- init list
    $('.cid_item_list').find('tbody').empty();
    $('#id_list_paging').empty();
  }

  function ui_display_message_list(p_msg) {
    var colspan = $('.cid_item_list > thead > tr').children().length;
    var html = '<tr><td colspan="' + colspan + '">' + p_msg + '</td></tr>';
    $('.cid_item_list').find('tbody').empty().append(html);
  }

  function ui_display_list(p_nlist, p_pginfo, p_msg) {
    ui_init_list();
    if (p_msg.length > 0) {
      ui_display_message_list(p_msg);
    }
    else {
      var jq_tbody = $('.cid_item_list').find('tbody');
      var firstRecordIndex = p_pginfo.firstRecordIndex;
      $.each(p_nlist, function (idx, item) {
        idx += firstRecordIndex;
        var jq_tr = $('<tr></tr>').data('rec', item);
        var html = '';
        html += '<td>';
        html += '  <span class="chk_agree">';
        html += '    <a href="javascript:void(0)">';
        html += '      <input type="radio" name="rdo_rec" id="id_rdo_' + idx + '" title="정보선택">';
        html += '      <label for="id_rdo_' + idx + '"><span></span></label>';
        html += '    </a>';
        html += '  </span>';
        html += '</td>';
        html += '<td>';
        html += '  <span title="' + $sf_str(item['seq']) + '">';
        html += '    <a href="javascript:void(0)" onclick="fn_itemview($(this).closest(\'tr\').data(\'rec\'));">' + (idx + 1) + '</a>';
        html += '  </span>';
        html += '</td>';
        html += '<td><span class="txt_elps">' + $sf_str(item['aldtType']) + '</span></td>';
        html += '<td><span class="txt_elps">' + $sf_str(item['aldtKey']) + '</span></td>';
        html += '<td><span class="txt_elps">' + $sf_str(item['aldtValue']) + '</span></td>';
        html += '<td><span class="txt_elps">' + $sf_str(item['srcTag']) + '</span></td>';
        html += '<td><span class="txt_elps">' + $sf_str(item['dplyDt']).substr(2, 14) + '</span></td>';
        html += '<td><span class="txt_elps">' + $sf_str(item['defApiNo']) + '</span></td>';
        html += '<td><span class="txt_elps">' + $sf_str(item['udate']).substr(2, 14) + '</span></td>';
        jq_tr.append(html);
        jq_tbody.append(jq_tr);
      });
      jq_tbody.find('input[name="rdo_rec"]').eq(0).prop('checked', true);
      if ('y' == g_data['usePagination']) {
        //-- totalRecordCount, currentPageNo, recordCountPerPage, pageSize, totalPageCount, firstPageNoOnPageList, lastPageNoOnPageList, firstRecordIndex, lastRecordIndex, firstPageNo, lastPageNo
        drawPaging('id_list_paging', p_pginfo.currentPageNo, p_pginfo.firstPageNoOnPageList, p_pginfo.totalPageCount, p_pginfo.lastPageNoOnPageList, 'pageGo');
      }
    }
  }

  function fn_beast_api_test(api_dir) {
    var api_info = {
      'aldt-get-list': ['/apilink/v1/data/getApiLinkDataList', 'GET'],
      'aldt-get': ['/apilink/v1/data/getApiLinkDataByType', 'GET'],
      'aldt-ins': ['/apilink/v1/data/createApiLinkData', 'POST'],
      'aldt-upd': ['/apilink/v1/data/apiLinkData', 'PUT'],
      'aldt-del': ['/apilink/v1/data/apiLinkData', 'DELETE'],
    };

    //-- API_ID -> apiId
    var prvfn_objkey_camelCase = (function(o_rec) {
      o_rec = $sf_obj(o_rec);
      var o_new_rec = {};
      for (key in o_rec) {
        if (o_rec.hasOwnProperty(key)) {
          var new_key = key.toLowerCase().replace(/(_.)/g, function(c) { return c.slice(1).toUpperCase(); } );
          o_new_rec[new_key] = o_rec[key];
        }
      }
      return o_new_rec;
    });

    var req_url = $sf_str($sf_arr($sf_obj_val(api_info, api_dir))[0]);
    var req_method = $sf_str($sf_arr($sf_obj_val(api_info, api_dir))[1]);
    var req_qstr = $sf_str($sf_arr($sf_obj_val(api_info, api_dir))[2]);
    var req_body = null;
    var a_direct = [];

    if (req_url.length == 0) { alert_message('설정된 request url 정보가 없습니다.'); return; }
    if (req_method.length == 0) { alert_message('설정된 request method 정보가 없습니다.'); return; }

    var jq_rdo_rec = $('input[name="rdo_rec"]:checked');

    if ('aldt-get' == api_dir || 'aldt-del' == api_dir) {
      var aldtType = '';
      var aldtKey = '';
      if ($('#id_popup_edit').is(':visible')) {
        aldtType = $sf_str($('#id_popup_edit .cid_sel_aldt_type').val());
        aldtKey = $sf_str($('#id_popup_edit .cid_txt_aldt_key').val());
        if (aldtType.length == 0) { alert_message('[err][aldtType 선택없음]'); return; }
        if (aldtKey.length == 0) { alert_message('[err][aldtKey 입력없음]'); return; }
      }
      else {
        if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
        var sel_rec = jq_rdo_rec.closest('tr').data('rec');
        aldtType = $sf_str(sel_rec['aldtType']);
        aldtKey = $sf_str(sel_rec['aldtKey']);
        if (aldtType.length == 0) { alert_message('[err][aldtType 선택없음]'); return; }
        if (aldtKey.length == 0) { alert_message('[err][aldtKey 입력없음]'); return; }
      }
      req_qstr = '?type=' + encodeURIComponent(aldtType) + '&key=' + encodeURIComponent(aldtKey);

	  if('aldt-get' == api_dir) {
		a_direct.push('aldt-get');
		a_direct.push('import_data');
	  }

    }
    else if (('aldt-ins' == api_dir) || ('aldt-upd' == api_dir)) {
      var sel_rec
      if ((('aldt-ins' == api_dir) || ('aldt-upd' == api_dir)) && ($('#id_popup_edit').is(':visible'))) {
        sel_rec = fn_edit_proc('get_item');
        if (false === sel_rec) {	//-- [i]validation fail
          return;
        }
      }
      else {
        if (jq_rdo_rec.length == 0) { alert_message('선택정보가 없습니다.'); return; }
        sel_rec = prvfn_objkey_camelCase(jq_rdo_rec.closest('tr').data('rec'));
      }
      //-- [i][set dplyDt]
      sel_rec['dplyDt'] = $fn_fmt_date('fmt_ymd', (new Date()), '-') + 'T' + $fn_fmt_date('fmt_hms', (new Date()), ':');
      req_body = fn_make_payload('apiLinkData', sel_rec);
    }
    else if ('aldt-get-list' == api_dir) {
      a_direct.push('aldt-get-list');
      a_direct.push('import_data');
    }

    var test_param = {
      'req_url': req_url,
      'req_method': req_method,
      'req_qstr': req_qstr,
      'req_body': $sf_json_stringify(req_body),
      'direct': a_direct.join(';')
    }

    if ('function' == typeof(bstapi_fn_popup)) {
      bstapi_fn_popup(test_param);
    }
  }

  function fn_make_payload(direct, sel_rec) {
    var o_payload = null;
    if ('apiLinkData' == direct) {
      o_payload = {
        'dplyDt': $sf_obj_val(sel_rec, 'dplyDt'),
        'type': $sf_obj_val(sel_rec, 'aldtType'),
        'key': $sf_obj_val(sel_rec, 'aldtKey'),
        'value': $sf_obj_val(sel_rec, 'aldtValue'),
      };
    }
    return o_payload;
  }
</script>
<script type="text/javascript">
  var g_a_item_key = [];  //-- export item key
  var g_a_def_item_key = [
    'dplyDt',
    'aldtType',
    'aldtKey',
    'aldtValue',
    'srcTag',
    'srcKey',
    'defApiNo',
    'udate',
    'rdate',
  ];

  //-- export대상 항목
  var g_o_exp_item_data = {
    'dplyDt'              :' 배포 일자',
    'aldtType'            :' 정보-유형',
    'aldtKey'             :' 정보-키',
    'aldtValue'           : '정보-값',
    'srcTag'              : '정보출처',
    'srcKey'              : '정보출처 관련Key',
    'defApiNo'           : 'API NO(DEF)',
    'udate'                :' 최종수정일',
    'rdate'                :' 최초작성일',
  };

  //-- 엑셀저장
  function fn_excel() {
    if (g_a_item_key.length == 0) { alert_message('출력항목 설정이 없습니다.'); return; }
    var a_data = xlsexp_fn_get_export_data(g_a_item_key);
    if (a_data.length == 0) { alert_message('대상 정보가 없습니다.'); return; }

    if (!confirm('엑셀파일을 저장 하시겠습니까?')) { return; }

    var excel_cfg = {
      filename: 'export_' + $fn_fmt_date('fmt_ymd', (new Date())) + '_' + $fn_fmt_date('fmt_hms', (new Date())),
      format: 'xlsx',   //-- 'xlsx'/'xls'/'csv'
      sheet_name: $fn_fmt_date('fmt_ymdhms_kor', (new Date())),
      sheet_data: a_data,
    };
    gfn_ExcelExport(excel_cfg);
  }
</script>

<div id="container">
  <div class="sVisual sv_regiapi">
    <div>
      <h2>BEAST -  API Link Data 정보<span th:text="${dp_target_text}"></span></h2>
      <p>BEAST 솔루션의 API Link Data 정보를 관리 합니다</p>
    </div>
  </div>
  <div class="contents">
    <div class="conBox">
      <div class="pg_location"><a href="javascript:void(0);">Go home</a> <span>></span> BEAST 관리</div>

      <div id="content">

        <h5 class="rTitleOneDep">API Link Data 정보<span th:text="${dp_target_text}"></span> 관리</h5>

        <div class="date_setting">
          <div class="searching_wrap">
            <div class="select_form ">
              <span class="pr10">정보-유형</span>
              <span class="pr10">
                <select class="cid_input cid_enter_search" id="id_q_aldt_type">
                  <option value="">전체</option>
                  <option value="ROUTE">ROUTE</option>
                  <option value="DOMAIN">DOMAIN</option>
                  <option value="PARAM">PARAM</option>
                  <option value="DATA">DATA</option>
                </select>
              </span>
              <span class="pr10">정보-키</span>
              <span class="input_txt wx140"><input class="cid_enter_search" type="text" id="id_q_aldt_key"></span>
              <span class="pl10 pr10">유형</span>
              <span class="pr10">
                <select class="cid_input cid_enter_search" id="id_q_dply_type">
                  <option value="">전체</option>
                  <option value="DPLY">DPLY</option>
                  <option value="DEL">DEL</option>
                </select>
              </span>
              <button type="button" class="btn-lg btn_searching cid_btn_search"><span>검색</span></button>

              <div class="btn_block_right">
                <span><button type="button" class="btn btn_sml btn_lightGray cid_btn_bst_api_test cid_aldt_get_list"><span>ALDT-GET-list</span></button></span>
                <span><button type="button" class="btn btn_sml btn_lightGray cid_btn_bst_api_test cid_aldt_get_item"><span>ALDT-GET-item</span></button></span>
<th:block th:if="${bIsBstgwManager}">
                <span class="cid_btn_bst_api_test_direct cid_aldt_cud"><button type="button" class="btn btn_sml btn_lightGray"><span>ALDT-CUD</span></button></span>
</th:block>
              </div><!-- .btn_block_right -->
            </div><!-- .select_form -->
          </div><!-- .searching_wrap -->
          <div class="searching_wrap">
            <div class="select_form">
              <span class="pr10">정보출처</span>
              <span class="input_txt wx140 pr10"><input class="cid_enter_search" type="text" id="id_q_src_tag"></span>
            </div>
          </div><!-- .searching_wrap -->
        </div><!-- .date_setting -->

        <div class="btn_set-right">
          <a href="javascript:void(0);"><input type="checkbox" id="id_chk_listall" name="usePagination" title="모두보기"><label for="id_chk_listall" ><span></span>모두보기</label></a>
        </div>

        <div class="btn_set-right cid_btn_line">
          <p class="list_count">전체: <span class="cid_tot_rec_cnt">-</span> 건</p>

<th:block th:if="${bIsBstgwManager}">
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_create()"><span>등록</span></button>
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_update()"><span>수정</span></button>
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_delete()"><span>삭제</span></button>
</th:block>
<th:block th:unless="${bIsBstgwManager}">
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_view()"><span>조회</span></button>
</th:block>
          <span class="wx53" style="display:inline-block"></span>
          <button type="button" class="btn btn_sml2 btn_black" onclick="fn_excel()"><span>엑셀저장</span></button>
          <button type="button" class="btn btn_sml2 btn_black" onclick="xlsexp_fn_export_item('popup')"><span>항목설정</span></button>
        </div><!-- .btn_set-right.cid_btn_line -->

        <div class="pkg_board">
          <table class="table-list cid_item_list">
            <caption>BEAST API Link Data list</caption>
            <colgroup>
              <col style="width:40px" />
              <col style="width:60px" />
              <col style="width:70px" />
              <col style="width:120px" />
              <col style="width:auto">
              <col style="width:70px" />
              <col style="width:110px" />
              <col style="width:60px" />
              <col style="width:110px" />
            </colgroup>
            <thead>
              <tr>
                <th scope="col">선택</th>
                <th scope="col">#</th>
                <th scope="col">정보-유형</th>
                <th scope="col">정보-키</th>
                <th scope="col">정보-값</th>
                <th scope="col">정보출처</th>
                <th scope="col">배포 일자</th>
                <th scope="col">DEF<br/>API NO</th>
                <th scope="col">수정일</th>
              </tr>
            </thead>
            <tbody class="td_thin"></tbody>
          </table><!-- .table-list -->

          <div class="paging" id="id_list_paging"></div><!-- #paging.paging -->

        </div><!-- .pkg_board -->

        <div class="btn_set-right cid_btn_line"></div><!-- .btn_set-right.cid_btn_line -->

      </div><!-- .content -->

    </div><!-- .conBox -->
  </div><!-- .contents -->
</div><!-- #container -->

<!-- 정보edit -->
<div id="id_popup_edit" class="dp_none">
  <div class="popup_content mb0">
    <div class="pkg_board">

      <table class="table-vw2">
        <caption>정보edit Table</caption>
        <colgroup>
          <col style="width:12%" />
          <col style="width:21%" />
          <col style="width:12%" />
          <col style="width:21%" />
          <col style="width:12%" />
          <col style="width:22%" />
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">배포 일자</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_dply_dt" title="DPLY_DT" maxlength="30" placeholder="yyyy-MM-ddTHH:mm:ss"></span>
            </td>
            <th scope="row">정보-유형</th>
            <td>
              <span>
                <select class="cid_input cid_sel_aldt_type" title="ALDT_TYPE" maxlength="10">
                  <option value="">전체</option>
                  <option value="ROUTE">ROUTE</option>
                  <option value="DOMAIN">DOMAIN</option>
                  <option value="PARAM">PARAM</option>
                  <option value="DATA">DATA</option>
                </select>
              </span>
            </td>
            <th scope="row">정보-키</th>
            <td colspan="3">
              <span><input type="text" class="cid_input cid_txt_aldt_key" title="ALDT_KEY" maxlength="50"></span>
            </td>
          </tr>
          <tr>
            <th scope="row">정보-값</th>
            <td colspan="5">
              <span><textarea class="cid_input cid_txt_aldt_value" title="ALDT_VALUE" maxlength="8000" style="height:80px"></textarea></span>
            </td>
          </tr>
          <tr>
            <th scope="row">정보출처</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_src_tag" title="SRC_TAG" maxlength="100"></span>
            </td>
            <th scope="row">정보출처 관련Key</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_src_key" title="SRC_KEY" maxlength="100"></span>
            </td>
            <th scope="row">API NO(DEF)</th>
            <td>
              <span><input type="text" class="cid_input cid_txt_def_api_no" title="DEF_API_NO" maxlength="10" placeholder="숫자"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- .pkg_board -->

    <div class="lPop_bottom brd_tp mt10 cid_ui_mode cid_ui_mode_insert">
      <button type="button" title="등록" class="btn btn_sml2 btn_black" onclick="fn_edit_proc('insert')">등록</button>
      <button type="button" title="취소" class="btn btn_sml2 btn_cancel">취소</button>
      <button type="button" class="btn btn_sml btn_lightGray cid_btn_bst_api_test cid_aldt_cud cid_direct_aldt_cud_ins"><span>ALDT-CUD-INS</span></button>
      <button type="button" class="btn btn_sml btn_lightGray cid_btn_bst_api_test cid_aldt_get_item"><span>ALDT-GET-item</span></button>

      <button type="button" title="dev_test" class="btn btn_white" onclick="fn_edit_proc('dev_test')">dev_test</button>
    </div>

    <div class="lPop_bottom brd_tp mt10 cid_ui_mode cid_ui_mode_update">
      <input type="hidden" class="cid_txt_status_group_no">
      <button type="button" title="수정" class="btn btn_sml2 btn_black" onclick="fn_edit_proc('update')">수정</button>
      <button type="button" title="취소" class="btn btn_sml2 btn_cancel">취소</button>

      <!-- <button type="button" title="dev_api_send" class="btn btn_white" onclick="fn_edit_proc('dev_api_send')">dev_api_send</button> -->
    </div><!-- .pkg_board -->

    <div class="lPop_bottom brd_tp mt10 cid_ui_mode cid_ui_mode_view">
      <button type="button" title="확인" class="btn btn_sml2 btn_black btn_cancel">확인</button>
    </div><!-- .pkg_board -->

  </div><!-- .popup_content mb0 -->
</div><!-- #id_popup_edit -->

<!-- 정보조회 -->
<div id="id_popup_itemview" class="dp_none">
  <div class="popup_content mb0">
    <div class="pkg_board scroll_box">

      <table class="table-vw2">
        <caption>정보 view Table</caption>
        <colgroup>
          <col style="width:25%" />
          <col style="width:auto" />
        </colgroup>
        <tbody>
          <tr><th scope="row"><!-- title --></th><td><!-- value --></td></tr>
        </tbody>
      </table>

    </div><!-- .pkg_board -->

    <div class="lPop_bottom brd_tp mt10">
      <button type="button" class="btn btn_black btn_cancel">확인</button>
    </div>

  </div><!-- .popup_content mb0 -->
</div><!-- #id_popup_itemview -->

<th:block th:replace="~{beast/inc/beastApiTest_inc :: beastApiTest_inc}"></th:block>

<th:block th:replace="~{beast/inc/excelExport_inc :: excelExport_inc}"></th:block>
</div>
</body>
</html>
